@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

html {
    height: 100%;
}


.body {
    display: inline-block;
    flex: content;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}



body {
    background: -webkit-linear-gradient(90deg, #c0b1b0 10%, #a49b97 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #c0b1b0 10%, #a49b97 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #c0b1b0 10%,
            #a49b97 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #c0b1b0 10%,
            #a49b97 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #fefefe 10%,
            #c6cacb 90%);
    /* W3C */
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    background-color: #472020;
    background-size: cover;
}


.container-images {
    width: 300px;

    height: 50%;
    right: 800px;
    bottom: 50px;
    position: relative;
    align-self: center;

}

.container-images img {
    position: absolute;
    bottom: 0;
    height: 100%;
    right: 50%;
    transform: translateX(50%);
}

.container-images:hover .pic {
    bottom: 20px;
    box-shadow: 0 0 30px rgba(89, 51, 51, 0.12);
}

/* CSS */
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    top: 350px;
    right: 300px;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.select-content {
    width: 300px;
    max-width: 500px;
    height: 300px;
    margin: 2rem;
    padding: 3rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: space-between;
    top: 50%;
}

#header-container {
    display: block;
    position: absolute;
    width: 320px;
    height: 200px;
    right: 5%;
    z-index: 1000; /* High value to ensure it's on top */
    top: 30%;
    margin-left: -160px;
    margin-top: -87px;
}

.select-box {
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Select style here */

select {
    margin: 5px 0 8px;
    color: #EC6F66;
    width: 310px;
    padding: 15px;
    height: 25px;
    justify-content: space-between;
    cursor: pointer;
    background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
}

select:hover {
    background-color: transparent;
    color: white;
    padding: 15px 5px 15px 25px;
}

select option {
    background-color: white;
    color: gray;
    width: 310px;
    padding: 10px 15px;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

select option:hover {
    padding-left: 25px;
    width: 270px;
    color: #EC6F66;
}

/*----Job-list------*/
.jobs-list-container {
    right: 0;
    max-width: 900px;
    margin: 0;
    font-family: "Rubik", sans-serif;
    justify-content: center;
    margin-right: 200px;
}

.con {
    margin-top: 500px;
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
    width: 400px;
    height: auto;
    direction: rtl;
    justify-content: center; /* center the content */
    align-items: center; /* center vertically */

}


.p1 {

    position: absolute;
    bottom: 0;
    top: 4.5rem;
    right: 2rem;
    bottom: unset;
    color: #EC6F66;

}


.con img {
    width: 300px;
    height: 300px;

}

.jobs-list-container h2 {
    font-size: 30px;
    border-left: 4px solid #023047;
    padding-left: 20px;
    margin-top: 450px;
    right: 0;
    justify-content: flex-start;

}

.jobs-list-container .jobs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.jobs-list-container .jobs img {
    width: 60px;
}

.jobs-list-container .job {
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    padding: 3px;
    justify-content: space-between;
    border-radius: 16px;
    top: 30px;
    width: 300px;
    right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
    height: 200px;
}

.jobs-list-container .job:hover {
    transform: scale(1.03);
}

.jobs-list-container .open-positions {
    position: absolute;
    top: 10px;
    font-size: 20px;
    right: 200px;
    color: #e63946;
}

.jobs-list-container .job-title {
    font-size: 20px;
    padding: 10px 0;
    padding-bottom: 3px;
    color: #023047;
}

.jobs-list-container .details {
    margin-top: 7px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
}

.jobs-list-container .details-btn {
    text-decoration: none;
    border: 1px solid #023047;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
    background: #023047;
    color: #fff;
}

.jobs-list-container .job-search {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 20px;
}

@media (max-width: 940px) {
    .jobs-list-container .jobs {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .jobs-list-container .jobs {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
}