<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - نشر وظيفة جديدة{% endblock %}
{% block page_title %}فائدة - نشر وظيفة جديدة{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4" style="color: rgb(0, 0, 0);"><span class="fw-light" >الوظائف /</span>  نشر وظيفة</h4>
              
              <div class="row">
                <form class="mt-4" method="POST" action="/add_new_job">

     <!-- Form controls -->
     <div class="container">
        <div class="row">
          <!-- Longest card on the left -->
          <div class="col-md-6">
            <div class="card mb-4">
              <h5 class="card-header"style="color: var(--primary-dark);">تفاصيل العمل</h5>
              <div class="card-body">
                <!-- Longest card content here -->
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label" style="color: var(--primary-dark);">نوع فرصة العمل أو التدريب * </label>

                  <select data-mdb-select-init class="form-select" required name="job_type">
                    <option name="job_type" value="">اختر</option>
                    <option name="job_type" value="دوام كامل">دوام كامل</option>
                    <option name="job_type" value="دوام جزئي">دوام جزئي</option>
                    <option name="job_type" value="تمهير">تمهير</option>
                    <option name="job_type" value="تدريب صيفي">تدريب صيفي</option>
                    <option name="job_type" value="تدريب تعاوني">تدريب تعاوني</option>
                    <option name="job_type" value="تطوع">تطوع</option>
                </select>
                
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlReadOnlyInput1" class="form-label" style="color: var(--primary-dark);">المدينة * </label>
                  <select data-mdb-select-init class="form-select" required name="city">
                    <option value="">اختر المدينة</option>
                
                    <option value="الرياض">الرياض</option>
                    <option value="جدة">جدة</option>
                    <option value="مكة">مكة</option>
                    <option value="المدينة المنورة">المدينة المنورة</option>
                    <option value="الدمام">الدمام</option>
                    <option value="الخبر">الخبر</option>
                    <option value="الظهران">الظهران</option>
                    <option value="الطائف">الطائف</option>
                    <option value="تبوك">تبوك</option>
                    <option value="بريدة">بريدة</option>
                    <option value="خميس مشيط">خميس مشيط</option>
                    <option value="أبها">أبها</option>
                    <option value="حائل">حائل</option>
                    <option value="نجران">نجران</option>
                    <option value="القصيم">القصيم</option>
                    <option value="الجبيل">الجبيل</option>
                    <option value="ينبع">ينبع</option>
                    <option value="الهفوف">الهفوف</option>
                    <option value="جيزان">جيزان</option>
                    <option value="سكاكا">سكاكا</option>
                    <option value="عرعر">عرعر</option>
                    <option value="الباحة">الباحة</option>
                    <option value="رفحاء">رفحاء</option>
                    <option value="حفر الباطن">حفر الباطن</option>
                    <option value="القطيف">القطيف</option>
                    <option value="المبرز">المبرز</option>
                    <option value="الخرج">الخرج</option>
                    <option value="قيصومة">قيصومة</option>
                    <option value="الخبرة">الخبرة</option>
                    <option value="البدائع">البدائع</option>
                    <option value="زلفي">زلفي</option>
                    <option value="الزهران">الزهران</option>
                    <option value="وادي الدواسر">وادي الدواسر</option>
                    <option value="بلجرشي">بلجرشي</option>
                    <option value="ترتوف">ترتوف</option>
                    <option value="النماص">النماص</option>
                    <option value="صفوى">صفوى</option>
                    <option value="عفيف">عفيف</option>
                    <option value="المجمعة">المجمعة</option>
                    <option value="البكيرية">البكيرية</option>
                    <option value="طريف">طريف</option>
                    <option value="الجوف">الجوف</option>
                    <option value="الدوادمي">الدوادمي</option>
                    <option value="الميثنب">الميثنب</option>
                    <option value="القريات">القريات</option>
                    <option value="الرس">الرس</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlReadOnlyInputPlain1" class="form-label"style="color: var(--primary-dark);">اسم الوظيفة * </label>
                  <input
                  required
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="اسم الوظيفة"
                  aria-describedby="floatingInputHelp"
                  name="title"
                />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label"style="color: var(--primary-dark);">طبيعة العمل * </label>
                  <select data-mdb-select-init class="form-select" required name="workplace">

                    <option name="workplace" value="">اختر</option>
                    <option name="workplace" value="العمل المكتبي">العمل المكتبي</option>
                    <option name="workplace" value="العمل الميداني">العمل الميداني</option>
                    <option name="workplace" value="العمل عن بعد">العمل عن بعد</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="exampleDataList" class="form-label"style="color: var(--primary-dark);">ايام العمل في الاسبوع  * </label>
                  <select data-mdb-select-init class="form-select" required name="workdays">
                    <option name="workdays" value="">اختر</option>
                    <option name="workdays" value="4 أيام">4 أيام
                    </option>
                    <option name="workdays" value="5 أيام">5 أيام
                    </option>
                    <option name="workdays" value="6 أيام">6 أيام
                    </option>
                </select>

                <label for="exampleDataList" class="form-label"style="color: var(--primary-dark);">ايام الاجازة في الشهر * </label>
                <select data-mdb-select-init class="form-select" required name="rest_days">
                  <option name="workdays" value="">اختر</option>
                  <option name="workdays" value="4 أيام">4 أيام
                  </option>
                  <option name="workdays" value="5 أيام">5 أيام
                  </option>
                  <option name="workdays" value="6 أيام">6 أيام
                  </option>
              </select>

              <label for="exampleDataList" class="form-label"style="color: var(--primary-dark);">  ساعات العمل * </label>
              <select data-mdb-select-init class="form-select" required name="work_hours">
                <option name="work_hours" value="">اختر</option>
                <option name="work_hours" value="4 ساعات">4 ساعات
                </option>
                <option name="work_hours" value="5 ساعات">5 ساعات
                </option>
                <option name="work_hours" value="6 ساعات">6 ساعات
                </option>
                <option name="work_hours" value="7 ساعات">7 ساعات
                </option>
                <option name="work_hours" value="8 ساعات">8 ساعات
                </option>
                <option name="work_hours" value="9 ساعات">9 ساعات
                </option>
                <option name="work_hours" value="10 ساعات">10 ساعات
                </option>
                <option name="work_hours" value="11 ساعة">11 ساعة
                </option>
                <option name="work_hours" value="12 ساعة">12 ساعة
                </option>
            </select>

        

                </div>
              
               
              </div>
            </div>
          </div>
      
          <!-- Smaller cards on the right -->
          <div class="col-md-6">
            <!-- First smaller card -->
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <h5 class="card-header"style="color: var(--primary-dark);">حول الشركة  * </h5>
                  <div class="card-body">
                    <!-- First smaller card content here -->
                    <div class="form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        placeholder="اكتب حول الشركة"
                        aria-describedby="floatingInputHelp"
                        name="company_about"
                      />
                      <label for="floatingInput"style="color: var(--primary-dark);">اكتب حول الشركة</label>
                      <div id="floatingInputHelp" class="form-text"style="color: var(--primary-dark);">
                        اذكر بعض المعلومات عن طبيعة الشركة وعلاقته بالوظيفة المقدمة
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Second smaller card -->
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <h5 class="card-header"style="color: var(--primary-dark);">معلومات الوظيفة  </h5>
                  <div class="card-body">
                    <!-- Second smaller card content here -->
      
                    <div class="mt-2 mb-3">
                      <label for="largeInput" class="form-label"style="color: var(--primary-dark);">حول الوظيفة * </label>
                      <textarea required class="form-control" id="exampleFormControlTextarea1" rows="3" name="job_description"></textarea>

                    </div>
                    <div class="mb-3">
                      <label for="defaultInput" class="form-label"style="color: var(--primary-dark);">التخصص *</label>
                      <select data-mdb-select-init class="form-select" required  name="specialization">

                        <option name="specialization" value="">اختر</option>
                        <option name="specialization" value="Undefined">غير محدد</option>
                        <option name="specialization" value="محاسبة">محاسبة</option>
                        <option name="specialization" value="مالية">مالية</option>
                        <option name="specialization" value="موارد بشرية">موارد بشرية</option>
                        <option name="specialization" value="تأمين">تأمين</option>
                        <option name="specialization" value="تسويق">تسويق</option>
                        <option name="specialization" value="إقتصاد">إقتصاد</option>
                        <option name="specialization" value="علوم سياسية">علوم سياسية</option>
                        <option name="specialization" value="نظم المعلومات الإدارية">نظم المعلومات الإدارية</option>
                        <option name="specialization" value="إدارة أعمال">إدارة أعمال</option>
                        <option name="specialization" value="إدارة البيع و التجزئة">إدارة البيع و التجزئة</option>
                        <option name="specialization" value="إدارة سلسلة الإمداد">إدارة سلسلة الإمداد</option>
                        <option name="specialization" value="هندسة البرمجيات">هندسة البرمجيات</option>
                        <option name="specialization" value="هندسة تطبيقية">هندسة تطبيقية</option>
                        <option name="specialization" value="هندسة مدنية">هندسة مدنية</option>
                        <option name="specialization" value="هندسة معمارية">هندسة معمارية</option>
                        <option name="specialization" value="هندسة صناعية">هندسة صناعية</option>
                        <option name="specialization" value="هندسة كهربائية">هندسة كهربائية</option>
                        <option name="specialization" value="هندسة ميكانيكية">هندسة ميكانيكية</option>
                        <option name="specialization" value="هندسة الطيران والفضاء">هندسة الطيران والفضاء</option>
                        <option name="specialization" value="هندسة التعدين">هندسة التعدين</option>
                        <option name="specialization" value="هندسة نووية">هندسة نووية</option>
                        <option name="specialization" value="هندسة بيئية">هندسة بيئية</option>
                        <option name="specialization" value="هندسة كميائية">هندسة كميائية</option>
                        <option name="specialization" value="هندسة حرارية">هندسة حرارية</option>
                        <option name="specialization" value="هندسة الإنتاج">هندسة الإنتاج</option>
                        <option name="specialization" value="هندسة البرتول">هندسة البرتول</option>
                        <option name="specialization" value="علوم الحاسب">علوم الحاسب</option>
                        <option name="specialization" value="نظم معلومات">نظم معلومات</option>
                        <option name="specialization" value="الإعلان و الإتصال التسويقي">الإعلان و الإتصال التسويقي</option>
                        <option name="specialization" value="إدارة الإعلانات">إدارة الإعلانات</option>
                        <option name="specialization" value="تصميم إبتكاري">تصميم إبتكاري</option>
                        <option name="specialization" value="النقل المائي - البحرية">النقل المائي - البحرية</option>
                        <option name="specialization" value="الدراسات الإسلامية">الدراسات الإسلامية</option>
                        <option name="specialization" value="تربية فنية">تربية فنية</option>
                        <option name="specialization" value="خدمة مجتمعية">خدمة مجتمعية</option>
                        <option name="specialization" value="التاريخ">التاريخ</option>
                        <option name="specialization" value="الجغرافيا">الجغرافيا</option>
                        <option name="specialization" value="علم المعلومات">علم المعلومات</option>
                        <option name="specialization" value="إعلام">إعلام</option>
                        <option name="specialization" value="مصمم جرافيك">مصمم جرافيك</option>
                        <option name="specialization" value="علم نفس">علم نفس</option>
                        <option name="specialization" value="العلاج الوظيفي">العلاج الوظيفي</option>
                        <option name="specialization" value="إضطرابات السمع و النطق">إضطرابات السمع و النطق</option>
                        <option name="specialization" value="التربية الخاصة">التربية الخاصة</option>
                        <option name="specialization" value="الفيزياء">الفيزياء</option>
                        <option name="specialization" value="الكيمياء">الكيمياء</option>
                        <option name="specialization" value="الرياضيات">الرياضيات</option>
                        <option name="specialization" value="الأحياء">الأحياء</option>
                        <option name="specialization" value="علم الفلك">علم الفلك</option>
                        <option name="specialization" value="الإحصاء">الإحصاء</option>
                        <option name="specialization" value="الطب">الطب</option>
                        <option name="specialization" value="الصيدلة">الصيدلة</option>
                        <option name="specialization" value="طب الأسنان">طب الأسنان</option>
                        <option name="specialization" value="التمريض">التمريض</option>
                        <option name="specialization" value="العلاج الطبيعي">العلاج الطبيعي</option>
                        <option name="specialization" value="سياحة">سياحة</option>
                        <option name="specialization" value="اللغة العربية">اللغة العربية</option>
                        <option name="specialization" value="قانون عام">قانون عام</option>
                        <option name="specialization" value="قانون خاص">قانون خاص</option>
                    </select>                    </div>
                    <div>
                      <label for="smallInput" class="form-label"style="color: var(--primary-dark);">حجم الخبرة المطلوبة * </label>
                      <select data-mdb-select-init class="form-select" required name="skills_years">

                        <option name="skills_years" value="">اختر</option>
                        <option name="skills_years" value="بدون خبرة">بدون خبرة</option>
                        <option name="skills_years" value="خبرة عام واحد">خبرة عام واحد</option>
                        <option name="skills_years" value="خبرة عامين">خبرة عامين</option>
                        <option name="skills_years" value="خبرة 3-4 أعوام">خبرة 3-4 أعوام</option>
                        <option name="skills_years" value="خبرة 5+ أعوام">خبرة 5+ أعوام</option>
                        <option name="skills_years" value="غير محدد">غير محدد</option>
                    </select>
                    </div>
                  </div>
                  <div class="card-body">
                    <small class="text-light fw-semibold"style="color: var(--primary-dark);">المؤهل التعليمي المطلوب * </small>
                    <div class="mt-2 mb-3">
                        <select data-mdb-select-init class="form-select" required  name="educational_qualification">

                            <option name="educational_qualification" value="">اختر</option>
                            <option name="educational_qualification" value="المرحلة الثانوية">المرحلة الثانوية</option>
                            <option name="educational_qualification" value="دبلوم">دبلوم</option>
                            <option name="educational_qualification" value="بكالوريوس">بكالوريوس</option>
                            <option name="educational_qualification" value="ماجستير">ماجستير</option>
                            <option name="educational_qualification" value="دكتوراه">دكتوراه</option>
                            <option name="educational_qualification" value="غير محدد">غير محدد</option>
                        </select>
                        
                    </div>
                    <div class="mb-3">
                      <label for="defaultSelect" class="form-label"style="color: var(--primary-dark);">اللغات المطلوبة * </label>
                      <select data-mdb-select-init class="form-select" required multiple name="languages">
                        <option value="العربية">العربية</option>
                        <option value="الإنجليزية">الإنجليزية</option>
                        <option value="الإسبانية">الإسبانية</option>
                        <option value="غير محدد">غير محدد</option>
                    </select>
                    </div>
                    <p style="color: red;"> يرجى ملئ جميع الحقول المميزة بنجمة</p>
                    <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</form>
        
            
              </div>
            </div>
</div>
{% endblock %}
