<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - عرض الوظائف المعروضة{% endblock %}
{% block page_title %}فائدة - عرض الوظائف المعروضة{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4" style="color: rgb(0, 0, 0);"><span class=" fw-light">الوظائف /</span>  الوظائف المعلنة</h4>





              <hr class="my-5" />

              <!-- Bordered Table -->
              <div class="card">
                <h5 class="card-header"style="color: var(--primary-dark);">الوظائف المعلنة</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="color: var(--primary-dark);">اسم الوظيفة</th>
                          <th style="color: var(--primary-dark);">نوع الوظيفة</th>
                          <th style="color: var(--primary-dark);">مكان الوظيفة</th>
                          <th style="color: var(--primary-dark);">تاريخ نشر الوظيفة</th>
                          <th style="color: var(--primary-dark);">المتقدمين</th>
                          <th style="color: var(--primary-dark);">المرشحين</th>
                          <th style="color: var(--primary-dark);">المقبولين</th>
                          <th style="color: var(--primary-dark);">المرفوضين</th>
                          <th style="color: var(--primary-dark);">عرض الوظيفة</th>
                          <th style="color: var(--primary-dark);"> تعديل</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for job in get_company_jobs %}

                        <tr>
                          <td style="color: var(--primary-dark);">
                            <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ job.title }}</strong>
                          </td>
                          <td style="color: var(--primary-dark);">{{ job.job_type }}</td>
                          <td style="color: var(--primary-dark);">
                            {{ job.town }}
                          </td>
                          <td style="color: var(--primary-dark);"><span >{{ job.date_posted.strftime('%Y-%m-%d') }}</span></td>
                          <td><span ><a style="color: var(--primary-dark);" href="/applicants/{{job.id}}">عرض المتقدمين</a></span></td>
                          <td><span ><a style="color: var(--primary-dark);" href="/applicants_recommended/{{job.id}}">عرض ألمرشحين</a></span></td>
                          <td><span ><a style="color: var(--primary-dark);" href="/applicants_approved/{{job.id}}">عرض المقبولين</a></span></td>
                          <td><span ><a style="color: var(--primary-dark);" href="/applicants_rejected/{{job.id}}">عرض المرفوضين</a></span></td>
                          <td>
                            <a style="color: var(--primary-dark);" href="/read_job/{{job.id}}">
                            عرض الوظيفة
                        </a>
                          </td>

                          <td>
                            <div class="dropdown">
                              <button
                                type="button"
                                class="btn p-0 dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                              >
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="/edit_posted_jobs/{{job.id}}"
                                  ><i class="bx bx-edit-alt me-1"></i> تعديل</a
                                >
                               
                              </div>
                            </div>
                          </td>
                          </tr>

                          {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--/ Bordered Table -->

              <hr class="my-5" />




           
            </div>
</div>
{% endblock %}
