<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - إعدادات بيانات الشركة{% endblock %}
{% block page_title %}فائدة - إعدادات بيانات الشركة{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4" style="color: rgb(0, 0, 0);"><span class=" fw-light">إعدادات الحساب /</span> بيانات الشركة</h4>

              
              <div class="row">
                <div class="col-md-12">
                
                  <div class="card mb-4">
                    <h5 class="card-header"style="color: var(--primary-dark);">بيانات الشركة</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <form  enctype="multipart/form-data" method="POST" action="/company_editprofile/public">

                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        {% if user.company_logo %}

                        <img

                        src="/static/uploads/companies/logo/{{user.company_logo}}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />

                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">تحديث شعار الشركة</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              class="account-file-input"
                              hidden
                              accept="image/*"
                              name="new_company_logo"
                              />
                          </label>
                  

                          <p class="text-muted mb-0">Allowed JPG, JPEG or PNG.</p>
                        </div>
                        {% else %}
                        <img

                        src="/static/panel/assets/img/avatars/لا-يوجد-صورة.webp"

                        alt="user-avatar"
                        class="d-block rounded"
                        height="100"
                        width="100"
                        id="uploadedAvatar"
                      />

                      <div class="button-wrapper">
                        <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                          <span class="d-none d-sm-block">تحميل شعار الشركة * </span>
                          <i class="bx bx-upload d-block d-sm-none"></i>
                          <input
                            required
                            type="file"
                            id="upload"
                            class="account-file-input"
                            hidden
                            accept="image/*"
                            name="new_company_logo"
                            />
                        </label>
                

                        <p class="text-muted mb-0">Allowed JPG, JPEG or PNG.</p>
                      </div>
                        {% endif %}

                      
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="row">
                         
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label" style="color: var(--primary-dark);">اسم الشركة بالعربي * </label>
                            <input class="form-control" type="text" name="arabic_name" required id="lastName" value="{{arabic_name}}"/>
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label"style="color: var(--primary-dark);">اسم الشركة بالانجليزي * </label>
                            <input class="form-control" type="text" required name="english_name" id="lastName" value="{{english_name}}"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label"style="color: var(--primary-dark);">ألدولة * </label>
                            <select class="select2 form-select " required  name="country" id="country">
                                {% if country %}

                                <option value="{{country}}">{{country}}</option>
                                {% endif %}

                    
                              </select>

                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="language" class="form-label"style="color: var(--primary-dark);">المدينة * </label>
                            <select  class="select2 form-select country" required name="state" id="state"  >
                                {% if state %}
                                <option value="{{state}}">{{state}}</option>
                                {% endif %}     
                            </select>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber"style="color: var(--primary-dark);">عنوان الشركة (يفضل العربية) * </label>
                            <div class="input-group input-group-merge">
                                <input class="form-control" type="text" required name="english_adress" id="lastName" value="{{english_adress}}"/>

                            </div>
                          </div>
                     

                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber"style="color: var(--primary-dark);">اسم الشركة في فائدة</label>
                            <div class="input-group input-group-merge">
                                <input class="form-control" type="text" name="faeda_company_name" id="lastName" value="{{faeda_company_name}}"/>

                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label"style="color: var(--primary-dark);">ماذا عن الشركة ؟(بالعربي) * </label>
                            <textarea class="form-control" required name="ar_about_company" id="a1" cols="10" rows="5" >{{ar_about_company}}</textarea>
                          </div>

                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label"style="color: var(--primary-dark);">ماذا عن الشركة ؟ (بالانجليزي)  * </label>
                            <textarea class="form-control" required name="en_about_company" id="a2" cols="10" rows="5">{{en_about_company}}</textarea>
                          </div>
                      
                        </div>
                        <div class="mt-2">
                          <p style="color: red;"> يرجى ملئ جميع الحقول المميزة بنجمة ولا تنسى الشعار 😊 </p>
                          <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  
                </div>
              </div>
            </div>
</div>
{% endblock %}
