<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - زيارة فريق {{team.team_name}}{% endblock %}
{% block page_title %}فائدة - زيارة فريق {{team.team_name}}{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
            
        


<!-- Header -->
<div class="row">
  <div class="col-12">
    <div class="card mb-4" style="background-color: var(--primary-dark);" >
      <div class="user-profile-header-banner">
        <img src="/static/panel/assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
      </div>
      <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
            {%if team.img%}
          <img src="/static/uploads/customers/teams/images/{{team.img}}" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
            {%else%}
            
            <img src="/static/assets/images/WhatsApp Image 2024-05-17 at 16.25.59_c590364f.jpg" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
            {%endif%}
          </div>
        <div class="flex-grow-1 mt-3 mt-sm-5">
          <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
            <div class="user-profile-info">
              <h4>{{team.team_name}}</h4>
              <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                <li class="list-inline-item fw-medium">
                  <i class='bx bx'></i> التخصص العام : {{team.general_program}}
                </li>
                
              </ul>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Header -->


<!-- User Profile Content -->
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-5">
    <!-- About User -->
    <div class="card mb-4"style="background-color: var(--primary-dark);">
      <div class="card-body" dir="rtl">
        <small class="text-muted text-uppercase">عن الفريق</small>
        <ul class="list-unstyled mb-4 mt-3">
          <li class="d-flex align-items-center mb-3"><i class="bx bx-user"></i><span class="fw-medium mx-2">التخصص العام : </span> <span>{{team.general_program}}</span></li>
          <li class="d-flex align-items-center mb-3"><i class="bx bx-star"></i><span class="fw-medium mx-2">  التخصص الفرعي :</span> <span>{{team.semi_special_program}}</span></li>
          <li class="d-flex align-items-center mb-3"><i class="bx bx-flag"></i><span class="fw-medium mx-2">التخصص الدقيق:</span> <span>{{team.special_program}}</span></li>
        </ul>
   
      </div>
    </div>
    <!--/ About User -->
   
  </div>
  <div class="col-xl-8 col-lg-7 col-md-7">
    <!-- Activity Timeline -->
    <div class="card card-action mb-4"style="background-color: var(--primary-dark);">
       
      <div class="card-body">
        <ul class="timeline ms-2">
        
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-info"></span></span>
            <div class="timeline-event">
              <div class="timeline-header mb-1">
                <h6 class="mb-0">ماذا عن ؟</h6>
              </div>
              <p class="mb-0">{{team.achievements}}</p>
            </div>
          </li>
          <li>

            <div class="col-xl-4 col-lg-5 col-md-5">
              <!-- About User -->
              <div class="card mb-4"style="background-color: var(--primary-dark);">
                <div class="card-body" dir="rtl">
                  <small class="text-muted text-uppercase">عن الفريق</small>
                  <ul class="list-unstyled mb-4 mt-3">
                      {{team.about}}
                  </ul>
             
                </div>
              </div>
              <!--/ About User -->
             
            </div>
          </li>
        
        </ul>
      </div>
    </div>
    <!--/ Activity Timeline -->
    
  </div>
</div>


<div class="row">
 
  <div class="col-xl-12 col-lg-12 col-md-12">
    <!-- Activity Timeline -->
    <div class="card">
      <h5 class="card-header"style="color: var(--primary-dark);">اختيار من اعضاء الفريق</h5>
      <div class="table-responsive text-nowrap">
        <form action="/applyjob/{{ job.id }}" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: var(--primary-dark);">تحديد</th>
                        <th style="color: var(--primary-dark);">اسم العضو</th>
                        <th style="color: var(--primary-dark);">الإيميل</th>
                        <th style="color: var(--primary-dark);">السيرة الذاتية</th>
                        <th style="color: var(--primary-dark);">حالة التقديم</th>
                        <th style="color: var(--primary-dark);">ارسال ملاحظة</th>
                        <th style="color: var(--primary-dark);">تاريخ التقديم</th>
                        <th style="color: var(--primary-dark);">عرض الملف الشخصي</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for member in applicants %}
                    <tr>
                        <td>
                            <input type="checkbox" name="selected_applicants[]" value="{{ member.user_id }}">
                        </td>
                        <td>
                            <strong>
                                <a style="color: var(--primary-dark);" href="/visit_customer_profile/{{ member.user_id }}" target="_blank">
                                    {{ member.fullname }}
                                </a>
                            </strong>
                        </td>
                        <td style="color: var(--primary-dark);">{{ member.email }}</td>
                        {% if member.cv %}
                        <td>
                            <a style="color: var(--primary-dark);" href="{{ url_for('company.download_cv', cv_filename=member.cv) }}" download>تنزيل السيرة الذاتية</a>
                        </td>
                        {% endif %}
                        <td style="color: var(--primary-dark);">
                            {% set job_status = Customers.get_job_status_by_customer_id(member.user_id, job.id) %}
                            <select class="select2 form-select" name="status_{{ member.user_id }}" onchange="selectCheckbox(this)">
                                {% if job_status %}
                                    <option value="{{ job_status }}">{{ job_status }}</option>
                                {% endif %}
                                <option value="لم تتم المراجعة">لم تتم المراجعة</option>
                                <option value="تم الترشيح قبل النهائي">تم الترشيح قبل النهائي</option>
                                <option value="تم القبول النهائي">تم القبول النهائي</option>
                                <option value="تم الرفض">تم الرفض</option>
                            </select>
                        </td>
                        <td style="color: var(--primary-dark);">
                            <textarea name="note_{{ member.user_id }}" rows="3" onchange="selectCheckbox(this)" style="font-weight: bold;">
                                {{ Customers.get_application_note_by_customer_id(member.user_id, job.id) }}
                            </textarea>
                        </td>
                        <td style="color: var(--primary-dark);">
                            {% set application_time = Customers.get_job_application_time_by_customer_id(member.user_id, job.id) %}
                            {% if application_time %}
                                <span>{{ application_time.strftime('%d %B %Y') }}</span>
                            {% else %}
                                <span>N/A</span>
                            {% endif %}
                        </td>
                        <td>
                            <span>
                                <a style="color: var(--primary-dark);" href="/applicants_recommended/{{ job.id }}">عرض الملف الشخصي</a>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>
        </form>
        <script>
            function selectCheckbox(input) {
                var checkbox = input.closest('tr').querySelector('input[type="checkbox"]');
                checkbox.checked = true;
            }
        </script>
    </div>
    
    </div>
    <!--/ Activity Timeline -->
    
  </div>
</div>
<!--/ User Profile Content -->

          </div>
</div>
{% endblock %}
