<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block page_title %}إضافة أعضاء{% endblock %}
{% block nav_my_teams %}active{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
            
            
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light" style="color: #000;">اضافة اعضاء الى فريق  </span> 
</h4>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4" style="color: rgb(0, 0, 0);"><span class=" fw-light">الوظائف /</span>  نشر وظيفة</h4>

    <div class="row">
      <form class="mt-4" method="POST" action="/add_members_to_team/{{ team_id }}">
        <!-- Form controls -->
        <div class="container">
            <div class="row">
                <!-- Smaller cards on the right -->
                <div class="col-md-9">
                    <!-- First smaller card -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <h5 class="card-header"style="color: var(--primary-dark);">اكتب الرقم التعريفي لزميلك بالفريق</h5>
                                <div class="card-body">
                                    <div class="row g-2 mb-3" id="member_inputs">
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="floatingInput1" placeholder="الرقم التعريفي" aria-describedby="floatingInputHelp1" name="member_id"/>
                                        </div>
                                        <div class="col-md-3">
                                            <select data-mdb-select-init class="form-select" name="general_prog" id="specialization">
                                         
                    <option name="general_prog" value="">اختر</option>
                    <option name="general_prog" value="Undefined">غير محدد</option>
                    <option name="general_prog" value="محاسبة">محاسبة</option>
                    <option name="general_prog" value="مالية">مالية</option>
                    <option name="general_prog" value="موارد بشرية">موارد بشرية</option>
                    <option name="general_prog" value="تأمين">تأمين</option>
                    <option name="general_prog" value="تسويق">تسويق</option>
                    <option name="general_prog" value="إقتصاد">إقتصاد</option>
                    <option name="general_prog" value="علوم سياسية">علوم سياسية</option>
                    <option name="general_prog" value="نظم المعلومات الإدارية">نظم المعلومات الإدارية</option>
                    <option name="general_prog" value="إدارة أعمال">إدارة أعمال</option>
                    <option name="general_prog" value="إدارة البيع و التجزئة">إدارة البيع و التجزئة</option>
                    <option name="general_prog" value="إدارة سلسلة الإمداد">إدارة سلسلة الإمداد</option>
                    <option name="general_prog" value="هندسة البرمجيات">هندسة البرمجيات</option>
                    <option name="general_prog" value="هندسة تطبيقية">هندسة تطبيقية</option>
                    <option name="general_prog" value="هندسة مدنية">هندسة مدنية</option>
                    <option name="general_prog" value="هندسة معمارية">هندسة معمارية</option>
                    <option name="general_prog" value="هندسة صناعية">هندسة صناعية</option>
                    <option name="general_prog" value="هندسة كهربائية">هندسة كهربائية</option>
                    <option name="general_prog" value="هندسة ميكانيكية">هندسة ميكانيكية</option>
                    <option name="general_prog" value="هندسة الطيران والفضاء">هندسة الطيران والفضاء</option>
                    <option name="general_prog" value="هندسة التعدين">هندسة التعدين</option>
                    <option name="general_prog" value="هندسة نووية">هندسة نووية</option>
                    <option name="general_prog" value="هندسة بيئية">هندسة بيئية</option>
                    <option name="general_prog" value="هندسة كميائية">هندسة كميائية</option>
                    <option name="general_prog" value="هندسة حرارية">هندسة حرارية</option>
                    <option name="general_prog" value="هندسة الإنتاج">هندسة الإنتاج</option>
                    <option name="general_prog" value="هندسة البرتول">هندسة البرتول</option>
                    <option name="general_prog" value="علوم الحاسب">علوم الحاسب</option>
                    <option name="general_prog" value="نظم معلومات">نظم معلومات</option>
                    <option name="general_prog" value="الإعلان و الإتصال التسويقي">الإعلان و الإتصال التسويقي</option>
                    <option name="general_prog" value="إدارة الإعلانات">إدارة الإعلانات</option>
                    <option name="general_prog" value="تصميم إبتكاري">تصميم إبتكاري</option>
                    <option name="general_prog" value="النقل المائي - البحرية">النقل المائي - البحرية</option>
                    <option name="general_prog" value="الدراسات الإسلامية">الدراسات الإسلامية</option>
                    <option name="general_prog" value="تربية فنية">تربية فنية</option>
                    <option name="general_prog" value="خدمة مجتمعية">خدمة مجتمعية</option>
                    <option name="general_prog" value="التاريخ">التاريخ</option>
                    <option name="general_prog" value="الجغرافيا">الجغرافيا</option>
                    <option name="general_prog" value="علم المعلومات">علم المعلومات</option>
                    <option name="general_prog" value="إعلام">إعلام</option>
                    <option name="general_prog" value="مصمم جرافيك">مصمم جرافيك</option>
                    <option name="general_prog" value="علم نفس">علم نفس</option>
                    <option name="general_prog" value="العلاج الوظيفي">العلاج الوظيفي</option>
                    <option name="general_prog" value="إضطرابات السمع و النطق">إضطرابات السمع و النطق</option>
                    <option name="general_prog" value="التربية الخاصة">التربية الخاصة</option>
                    <option name="general_prog" value="الفيزياء">الفيزياء</option>
                    <option name="general_prog" value="الكيمياء">الكيمياء</option>
                    <option name="general_prog" value="الرياضيات">الرياضيات</option>
                    <option name="general_prog" value="الأحياء">الأحياء</option>
                    <option name="general_prog" value="علم الفلك">علم الفلك</option>
                    <option name="general_prog" value="الإحصاء">الإحصاء</option>
                    <option name="general_prog" value="الطب">الطب</option>
                    <option name="general_prog" value="الصيدلة">الصيدلة</option>
                    <option name="general_prog" value="طب الأسنان">طب الأسنان</option>
                    <option name="general_prog" value="التمريض">التمريض</option>
                    <option name="general_prog" value="العلاج الطبيعي">العلاج الطبيعي</option>
                    <option name="general_prog" value="سياحة">سياحة</option>
                    <option name="general_prog" value="اللغة العربية">اللغة العربية</option>
                    <option name="general_prog" value="قانون عام">قانون عام</option>
                    <option name="general_prog" value="قانون خاص">قانون خاص</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="floatingInput2" placeholder="التخصص الفرعي" aria-describedby="floatingInputHelp2" name="semi_special_prog"/>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="floatingInput3" placeholder="التخصص الدقيق" aria-describedby="floatingInputHelp3" name="special_prog"/>
                                        </div>
                                    </div>
                                    <button type="button" onclick="addMemberInput()" class="btn btn-secondary mb-3">Add Member</button>
                                    <button type="submit" class="btn btn-primary me-2">انشاء</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    

  
    </div>
  </div>

  <div class="card">
    <h5 class="card-header"style="color: var(--primary-dark);">اعضاء الفريق</h5>
    <div class="card-body">
      <div class="table-responsive text-nowrap"><form action="#" method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="display: none;">تحديد</th>
                    <th style="color: var(--primary-dark);">اسم المتقدم</th>
                    <th style="color: var(--primary-dark);"> الايميل</th>
                    <th style="color: var(--primary-dark);">السيرة الذاتية</th>
                    <th style="color: var(--primary-dark);"> الحالة </th>
                    <th style="color: var(--primary-dark);"> ألملف الشخصي</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for member in team_members %}
                <tr>
                    <td style="display: none;">
                        <input type="checkbox" name="selected_applicants[]" value="{{ member.id }}">
                    </td>
                    <td>
                        <strong style="color: var(--primary-dark);">{{ member.fullname }}</strong>
                    </td>
                    <td style="color: var(--primary-dark);">{{ member.email }}</td>
                    {%if member.cv%}
                    <td>
                        <a style="color: var(--primary-dark);" href="{{ url_for('company.download_cv', cv_filename=member.cv) }}" download>تنزيل السيرةالذاتية</a>
                    </td>
                    {% else %}
                    <td>
                      <strong style="color: var(--primary-dark);">---</strong>

                    </td>
                    {%endif%}
                    <td style="color: var(--primary-dark);"> {{member.status}}</td>
                    <td><span ><a style="color: var(--primary-dark);" href="/visit_customer_profile/{{member.user_id}}">عرض الملف الشخصي</a></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>
    </form>
    
    <script>
        function selectCheckbox(input) {
            var checkbox = input.parentNode.parentNode.querySelector('input[type="checkbox"]');
            checkbox.checked = true;
        }
    </script>
    
      </div>
    </div>
  </div>

<!-- Header -->

<!--/ User Profile Content -->

          </div>
</div>
{% endblock %}
