<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - اعدادات الحساب التعليمية{% endblock %}
{% block page_title %}فائدة - اعدادات الحساب التعليمية{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4" style="color: rgb(0, 0, 0);"><span class=" fw-light">إعدادات الحساب /</span> البيانات التعليمية</h4>
              {% for message in get_flashed_messages() %}

              <style>
                .flash-message {
                  background-color: #372b70;
                  color: var(--primary-dark)fff;
                  padding: 15px;
                  border-radius: 10px;
                  border: 2px solid #4a3f8a; /* Amazing border color */
                  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                  opacity: 1;
                  transition: opacity 0.5s ease-in-out;
                }
              
                .fadeOut {
                  opacity: 0;
                }
              </style>
              
              <div class="flash-message" role="alert">
                {{ message|safe }}
              </div>
              
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  var flashMessage = document.querySelector('.flash-message');
              
                  setTimeout(function () {
                    flashMessage.classList.add('fadeOut');
                    setTimeout(function () {
                      flashMessage.parentNode.removeChild(flashMessage);
                    }, 500); // 500 milliseconds for fade-out animation
                  }, 5000); // 5000 milliseconds = 5 seconds
                });
              </script>
              
              {% endfor %}
              <div class="row">
                <div class="col-md-12">
                  
                  <div class="card mb-4">
                    <h5 class="card-header"style="color: var(--primary-dark);">بيانات الحساب التعليمية</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        {% if user.img %}

                        <img

                        src="/static/uploads/customers/images/{{user.img}}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                        {% else %}
                        <img

                        src="/static/no_image.jpg"

                        alt="user-avatar"
                        class="d-block rounded"
                        height="100"
                        width="100"
                        id="uploadedAvatar"
                      />
                        {% endif %}
                      
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                      <form  method="POST" action="/edit-profile/educational_data">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label"style="color: var(--primary-dark);">الحالة التعليمية * </label>
                            <select  class="select2 form-select" name="new_education_statue" required>
                              {% if user.education_statue %}

                              <option value="{{education_statue}}">{{education_statue}}</option>

                              {% endif %}
                         
                              <option value="طالب">طالب</option>
                              <option value="متخرج">متخرج</option>
                              <option value="موظف">موظف</option>

                            </select>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label" style="color: var(--primary-dark);">المؤهل العلمي * </label>
                            <select class="select2 form-select" required type="text" name="new_educational_qualification">
                              {% if user.educational_qualification %}

                              
                                                       <option name="education" value="{{educational_qualification}}" >{{educational_qualification}} </option>

                              {% endif %}
                              <option name="education" value="المرحلة الثانوية">المرحلة الثانوية</option>
                              <option name="education" value="دبلوم">دبلوم</option>
                              <option name="education" value="بكالوريوس">بكالوريوس</option>
                              <option name="education" value="ماجستير">ماجستير</option>
                              <option name="education" value="دكتوراه">دكتوراه</option>
                          </select>                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="university" class="form-label" style="color: var(--primary-dark);">الجامعة * </label>
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="new_university"
                              value="{{university}}"
                              required
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="language" class="form-label" style="color: var(--primary-dark);">التخصص * </label>
                            
                            <input type="text" required value= "{{department_university}}" name="new_department_university" class="form-control">

                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber" style="color: var(--primary-dark);">تاريخ التخرج  * </label>
                            <div class="input-group input-group-merge">
                              <input class="form-control" required type="date" name="new_graduation_date" value="{{ user.graduation_date }}"  autocomplete="on"/>

                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label" style="color: var(--primary-dark);">التقدير * </label>
                            <input id="gpa" value="{{gpa}}" required placeholder="0.00" type="number" name="new_gpa" max="5" step=".01" class="form-control">

                          </div>
                       

                      
                        </div>
                        <div class="mt-2">
                          <p style="color: red;"> يرجى ملئ الحقول المميزة بنجمة </p>
                          <button type="submit" class="btn btn-primary me-2">حفظ التغييرات</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
               
                </div>
              </div>
            </div>
            <!-- / Content -->
</div>
{% endblock %}
