<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - دعوتي للانضمام{% endblock %}
{% block page_title %}فائدة - دعوتي للانضمام{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4" style="color: var(--primary-dark);"><span class=" fw-light">المجموعات /</span> دعوات الانضمام</h4>

              <!-- Examples -->
              <div class="row mb-5">
                {% for team in teams %}

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <style>
                      .fixed-img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                      }
                    </style>
                    {% if team.img %}
                    <img class="card-img-top fixed-img" src="/static/uploads/customers/teams/images/{{team.img}}" alt="Card image cap" />
                    {% else %}
                    <img class="card-img-top fixed-img" src="/static/assets/images/WhatsApp Image 2024-05-17 at 16.25.59_c590364f.jpg" alt="Card image cap" />
                    {% endif %}
                    
                    <div class="card-body">
                      <h5 class="card-title"> {{team.team_name}}</h5>
                      <p class="card-text">
                        {{team.general_program}} - {{team.semi_special_program}} - {{team.special_program}}
                    </p>
                    <hr>

                    <p class="card-text">
                        {{team.about}}
                    </p>
                      <form action="{{ url_for('invites', user_id=user_id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="team_id" value="{{ team.id }}">
                        <input type="hidden" name="action" value="decline">
                        <style>
                          .custom-btn {
                            background-color: red;
                            color: var(--primary-dark);
                          }
                        
                          .custom-btn:hover {
                            background-color: darkred;
                            color: var(--primary-dark);
                          }
                        </style>
                        <button type="submit" class="btn btn-outline-primary card-link custom-btn">
                          رفض
                        </button>
                        
                   
                                            </form>
                      <form action="{{ url_for('invites', user_id=user_id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="team_id" value="{{ team.id }}">
                        <input type="hidden" name="action" value="accept">
                        <button type="submit" class="btn btn-outline-primary card-link">موافقة</button>
                    </form>
                    

                    </div>
                  </div>
                </div>
                {%endfor%}
           
              </div>
              <!-- Examples -->

         
           
              <!--/ Card layout -->
            </div>
            <!-- / Content -->
</div>
{% endblock %}
