<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/panel_base.html' %}
{% block title %}فائدة - صفحتي الشخصية{% endblock %}
{% block page_title %}فائدة - صفحتي الشخصية{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm" style="border-radius: 15px; border: none;">
    <div class="container-xxl flex-grow-1 container-p-y">
            
            



<!-- Header -->
<div class="row">
  <div class="col-12">
    <div class="card mb-4" style="background-color: var(--primary-dark);">
      <div class="user-profile-header-banner">
        <img src="/static/panel/assets/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
      </div>
      <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
            {%if customer.img%}
          <img src="/static/uploads/customers/images/{{customer.img}}" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
            {%else%}
            
            <img src="/static/no_image.jpg" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
            {%endif%}
          </div>
        <div class="flex-grow-1 mt-3 mt-sm-5">
          <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
            <div class="user-profile-info">
              <h4>{{customer.fullname}}</h4>
              <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                <li class="list-inline-item fw-medium">
                  <i class='bx bx-user'></i> ID : {{customer.user_id}}
                </li>
                
              </ul>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Header -->

<!--/ Navbar pills -->

<!-- User Profile Content -->
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-5">
    <!-- About User -->
    <div class="card mb-4">
      <div class="card-body" dir="rtl">
        <small style="color: var(--primary-dark);">About</small>
        <ul class="list-unstyled mb-4 mt-3" style="color: var(--primary-dark);">
          <li class="d-flex align-items-center mb-3"><i class="bx bx-user"></i><span class="fw-medium mx-2">الاسم بالكامل:</span> <span>{{customer.fullname}}</span></li>
          <li class="d-flex align-items-center mb-3"><i class="bx bx-star"></i><span class="fw-medium mx-2">مجال العمل المفضل:</span> <span>{{customer.preferred_field_of_work}}</span></li>
          <li class="d-flex align-items-center mb-3"><i class="bx bx-flag"></i><span class="fw-medium mx-2">الدولة:</span> <span>{{customer.country}} , {{customer.government}}</span></li>
        </ul>
        <small style="color: var(--primary-dark);">التواصل</small>
        <ul class="list-unstyled mb-4 mt-3" style="color: var(--primary-dark);">
          <li class="d-flex align-items-center mb-3"><i class="bx bx-envelope"></i><span class="fw-medium mx-2">:</span> <span>{{customer.email}}</span></li>
        </ul>
        <small style="color: var(--primary-dark);">التعليم</small>
        <ul style="color: var(--primary-dark);" class="list-unstyled mt-3 mb-0">
          <li class="d-flex align-items-center mb-3"><i class="bx bx-education text-primary me-2"></i>
            <div class="d-flex flex-wrap"><span class="fw-medium me-2">الحالة التعليمية</span><span>{{customer.education_statue}}</span></div>
          </li>
          <li class="d-flex align-items-center mb-3"><i class="bx bxl-rseact text-info me-2"></i>
            <div class="d-flex flex-wrap"><span class="fw-medium me-2">المؤهل العلمي</span><span>{{customer.educational_qualification}}</span></div>
          </li>



          <li class="d-flex align-items-center mb-3"><i class="bx bx-education text-primary me-2"></i>
            <div class="d-flex flex-wrap"><span class="fw-medium me-2">تاريخ التخرج</span><span>{{customer.graduation_date}}</span></div>
          </li>



          <li class="d-flex align-items-center mb-3"><i class="bx bx-education text-primary me-2"></i>
            <div class="d-flex flex-wrap"><span class="fw-medium me-2"> الجامعة</span><span>{{customer.university}}</span></div>
          </li>


          <li class="d-flex align-items-center mb-3"><i class="bx bx-education text-primary me-2"></i>
            <div class="d-flex flex-wrap"><span class="fw-medium me-2">التخصص</span><span>{{customer.department_university}}</span></div>
          </li>
        </ul>
      </div>
    </div>
    <!--/ About User -->
   
  </div>
  <div class="col-xl-8 col-lg-7 col-md-7">
    <!-- Activity Timeline -->
    <div class="card card-action mb-4">
      <div class="card-header align-items-center">
        <h5 class="card-action-title mb-0" style="color: var(--primary-dark);"><i class='bx bx-list-ul me-2' ></i>معلومات حول المستخدم</h5>
        
      </div>
      <div class="card-body">
        <ul class="timeline ms-2" style="color: var(--primary-dark);">
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-warning"></span></span>
            <div class="timeline-event">
              <div class="timeline-header mb-1">
                <h6 class="mb-0" style="color: var(--primary-dark);">السيرة الذاتية</h6>
              </div>
              {%if customer.cv%}

              <div class="d-flex flex-wrap">
                <div class="avatar me-3">
                  <img src="/static/panel/assets/img/avatars/3.jpeg" alt="Avatar" class="rounded-circle" />

                </div>
                <div>
                  <a style="color: var(--primary-dark);" href="{{ url_for('company.download_cv', cv_filename=customer.cv) }}" download>تنزيل السيرةالذاتية</a>
                </div>
              </div>
              {%else%}
              <div class="d-flex flex-wrap" style="color: var(--primary-dark);">
                لا يوجد سيرة ذاتية تم تحميلها
</div>
              {%endif%}

            </div>
          </li>
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point-wrapper"><span class="timeline-point timeline-point-info"></span></span>
            <div class="timeline-event">
              <div class="timeline-header mb-1">
                <h6 class="mb-0" style="color: var(--primary-dark);">ماذا عن ؟</h6>
              </div>
              <p class="mb-0" style="color: var(--primary-dark);"> {{customer.about}}</p>
            </div>
          </li>
        
          <li class="timeline-end-indicator">
            <i class="bx bx-check-circle"></i>
          </li>
        </ul>
      </div>
    </div>
    <!--/ Activity Timeline -->
    
  </div>
</div>
<!--/ User Profile Content -->

          </div>
          <!-- / Content -->
</div>
{% endblock %}
