<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAEDA</title>
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/static/assets/css1/style.css">
</head>

<body>

    <div class="wrapper" style="background: linear-gradient(to right, rgb(145, 215, 180) ,rgb(220, 220, 220));">
        <div class="inner">
            <div class="image-holder">
                <img src="/static/assets/images/msg6247125603-8832.jpg" alt="">
            </div>
            <form action="/my-jobapplications" >
                <h3> طلب وظيفة</h3>
                <div class="form-group">
                    <h1>لقد تم قبول طلبك للوظيفة</h1>

                </div>
                <div class="form-wrapper">
                    تهانينا! يسعدنا انضمامك إلى فريقنا. ستكون تجربتك رصيدًا رائعًا لشركتنا. لنقضي وقتًا ممتعًا في العمل
                    معًا!

                </div>
                <div class="form-wrapper">
                    <p>سيتم تحديد معاد المقابله عبر البريد الالكتروني  :</p>
                </div>

                <div class="form-wrapper">
                    <div class="mobile-wrapper">
                        <section class="today-box" id="today-box">
                            <h3 class="date-title"> راجع بريدك الالكتروني : </h3>


                        </section>
                    </div>

                </div>

                <div class="form-wrapper">
                    <p>
                        العنوان: عنوان الشركة
                    </p>
                </div>
                <button class="button-33" >
                    <h1 class="green">استمر</h1>
                </button>
              
            </form>
        </div>
    </div>

</body>


</html>