<!--
==============================================================================
الوظيفة الأساسية للملف: قالب HTML (Template) لواجهة المستخدم لعرض البيانات والتفاعل معها.
الروابط أو الميزات: يستخدم محرك Jinja2 لوراثة القوالب وعرض المتغيرات المرسلة من الـ Backend.
المتطلبات الخاصة: يعتمد على القوالب الأساسية (مثل base.html أو panel_base.html) وملفات التنسيق (CSS/JS) الموجودة في مجلد static.
==============================================================================
-->
{% extends 'new_design/base.html' %}
{% block title %}Team Members{% endblock %}

{% block content %}
<h1>دعوة اعضاء جدد</h1>
    <a href="/add_member_to_team/{{team.id}}">دعوة اعضاء</a>
    <hr>
    <h1>Team: {{ team.team_name }}</h1>
    <h2>Members:</h2>
    <ul>
        {% for member in team_members %}
            <li><a href="/visit_customer_profile/{{ member.user_id }}">{{ member.fullname }} - {{ member.status }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
