<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAEDA</title>
    <link rel="stylesheet" href="/static/assets/css/apply_job.css">
</head>

<body>
    <div id="container">
        <div id="error-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message">
                <h1 class="alert">! نأسف لك</h1>
                <p>لم يتم قبول طلب التوظيف لهذه الوظيفة</p>
            </div>
            
            <button class="button-box" onclick="location.href='/my-jobapplications'">
                <h1 class="red">حاول مجددا </h1>
            </button>
        </div>
    </div>
</body>

</html>