@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

:root {
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);

    --Dark-blue: hsl(0, 4%, 39%);
    --Grayish-Blue: hsl(204, 26%, 4%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: rgb(236, 242, 252);
}

p {
    line-height: 3;
}



a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

button {
    cursor: pointer;
}

button:hover {
    filter: saturate(80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(255, 202, 142);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 440px;
    line-height: 24px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px0 10px 13%;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(52, 0, 147);
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.nav-links a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;
}

.nav-links a i {
    font-size: 2rem;
    margin-left: 15px;
}



.nav-links a:hover,
.main-account a:hover {
    font-weight: 300px;
    background-color: rgb(175, 181, 185);
    border-radius: 9999px;
}

.nav-links a:first-child {
    padding: 8px;
}

.nav-links a:first-child i {
    margin: 0px;
}

.main-account {
    width: 100%;
    height: 30%;
    padding-top: 120px;
}

.main-account a {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 8px 15px;
    margin-left: 10px;
}

.tweet-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
}

.account-details {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-right: 10px;
    font-size: 1.5rem;
    line-height: 20px;
}

.account-name {
    font-weight: 500;
}

.account-handle {
    color: rgb(236, 236, 236);
}

.main1 {
    width: 80%;
    height: 100%;
    margin-right: 20%;
    background-color: rgba(233, 239, 240, 0.925);

}

.main-flex {
    display: flex;
    width: 100%;
}

.main-feed {
    width: 70%;
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.comment-input>textarea {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}
.comments-section{
    margin-top: 5px;
    border-top: 5px solid rgb(76, 0, 255);
}
.comment-input>button {
    padding: 5px 10px;
    background: #340093;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.home-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    color: rgb(4, 0, 0);
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0 15%;
    position: sticky;
    top: 0;
}

.new-post {
    width: 100%;
    height: 150px;
    display: flex;
    padding: 16px;
    border-bottom: 1px solid rgb(130, 129, 129);

}

.new-post img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
}

.new-post .button-62 {
    width: 50px;
    margin-right: 400px;
}

.new-post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4px;
    width: 100%;
    margin-right: 12px;
}

.new-post-actions ul {
    list-style: none;
    display: flex;
}

.new-post-details textarea {
    width: 100%;
    height: 45%;
    font-size: 2rem;
    border: none;
    outline: none;
    background: none;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.new-post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 60%;
    outline: none;
}

.new-post-actions ul li {
    margin-right: 12px;
    color: rgb(239, 150, 61);
    cursor: pointer;
}

.new-post-actions .button-62 {
    width: 75%;
    height: 35px;
    margin-right: 200px;
    font-weight: 400;
    font-size: 1.5rem;

}








.container {
    border-radius: 8px;
    padding: 1.5rem;
    background-color: var(--White);
}




.comment {
    margin-bottom: 1rem;
    color: var(--Grayish-Blue);
    border: 2px solid gray;
    border-radius: 5px;
}




.comment-header {
    max-height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 25px;
    background-color:rgba(218, 218, 218, 0.644) ;
}

.comment-header span {
    font-weight: bold; /* Make the company name bold if needed */
}







.like img {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.share img {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.like img :hover {
    box-shadow: 0 0 4px slategray;
    background-color: rgb(239, 242, 252);
}





.comment-header img {
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}



.comment-time {
    color: #000000;
    font-size: 1.5rem;
    margin-right: 15px;
    margin-top: 0px;
}



.item-content{
    width: 100%;
    height: max-content;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px 10px;
    padding: 3px 5px;

}
.main-item{
    width: 100%;
    height: 30%;
    display: flex;
}
.main-item img{
    width: 40px;
    height: 40px;
    border-radius: 999px;

}
.main-item h1{
    font-size: 2rem;
    font-weight: 600;
    padding:3px 10px;
    margin: 0 3px;
    height: 30px;
    color: black;

}

.main-item h1:hover{
    cursor: pointer;
    border-bottom: .5px solid rgb(104, 78, 78);
    color: blue;
}
.main-item p{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 5px;
}
.container{
    background: none;
}
.item-content{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.item-content .content{
    width: 100%;
    min-height: 70px;
    font-size: 1.3rem;
    font-weight: 500px;

}

.item-content .reacts{
    width: 100%;
    height: 30px;
    display: flex;

}
.item-content .reacts a{
    display: flex;
    color: rgb(28, 3, 98);
    width: 50px;
    margin: 0 50px;

}

.item-content .reacts a  .num{
    margin: 0 5px;
}
.item-content .reacts a .num_like .like{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(28, 3, 98);}

.item-content .reacts a img{
    width: 20px;
    height: 20px;
    margin: 3px 5px;

}
.item-content .reacts a img:hover{
    width: 25px;
    height: 25px;
}
@media screen and (max-width:640px) {
    .container {
        padding: .75rem;
    }

    .replies {
        padding-left: 1rem;
        margin-left: .5rem;
    }

    .comment {
        grid-template-areas:
            "user user user"
            "comment comment comment"
            "score ... controls"
        ;

        gap: .5rem;
    }

    .c-score {
        flex-direction: row;
        width: auto;
    }

    .reply-input {
        grid-template-areas:
            "input input input"
            "avatar ... button"
        ;
        grid-template-rows: auto min-content;
        align-items: center;
        gap: .5rem;
    }

    .reply-input img {
        height: 2rem;
        width: 2rem;
    }

    .reply-input textarea {
        height: 6rem;
        padding: .5rem;
        align-self: stretch;
    }
}


@media screen and (max-width:1260px) {
    header {
        width: 10%;
        padding: 10px 0;
    }

    .main1 {
        margin-right: 10%;
        width: 90%;
    }

    header span {
        display: none;
    }

    .new-post .button-62 {
        width: 15%;
        border-radius: 50%;
        font-size: 100%;
        margin-right: 0;
    }

    .follow .button-62 {
        width: 15%;
        border-radius: 50%;
        font-size: .8rem;
        font-size: 100%;
    }


    header .main-account {
        display: flex;
        justify-content: center;

    }

    header .main-account i {
        display: none;

    }

    header .account-details {
        display: none;

    }


    .nav-links {
        align-items: center;
    }

    .nav-links a i {
        margin: 0;
    }

    .nav-links a,
    .main-account a {
        padding: 10px;
    }

    .main-feed {
        width: 100%;
        padding: 0 10px;
    }

    .main-feed .home-bar {
        font-size: 1.5rem;
    }

    .main-feed .home-bar i {
        width: 10%;
    }

    .main-feed .new-post img {
        width: 30%;
        height: 20%;
    }

}



/* Add the following CSS to adjust the fixed position when scrolling */
@media screen and (min-width: 1260px) {@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
    
    :root {
        --Moderate-blue: hsl(238, 40%, 52%);
        --Soft-Red: hsl(358, 79%, 66%);
        --Light-grayish-blue: hsl(239, 57%, 85%);
        --Pale-red: hsl(357, 100%, 86%);
    
        --Dark-blue: hsl(0, 4%, 39%);
        --Grayish-Blue: hsl(204, 26%, 4%);
        --Light-gray: hsl(223, 19%, 93%);
        --Very-light-gray: hsl(228, 33%, 97%);
        --White: rgb(236, 242, 252);
    }
    
    p {
        line-height: 3;
    }
    
    .com {
        height: 100%;
        font-size: 1.5rem;
    }
    
    a {
        cursor: pointer;
        text-decoration: none;
        font-weight: 500;
    }
    
    button {
        cursor: pointer;
    }
    
    button:hover {
        filter: saturate(80%);
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        background-color: rgb(255, 202, 142);
    }
    
    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 440px;
        line-height: 24px;
    }
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px0 10px 13%;
        width: 20%;
        height: 100%;
        position: fixed;
        background-color: rgb(52, 0, 147);
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
        justify-content: space-between;
    }
    
    .nav-links a {
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding: 8px 25px 8px 8px;
        width: fit-content;
    }
    
    .nav-links a i {
        font-size: 2rem;
        margin-left: 15px;
    }
    
    
    
    .nav-links a:hover,
    .main-account a:hover {
        font-weight: 300px;
        background-color: rgb(175, 181, 185);
        border-radius: 9999px;
    }
    
    .nav-links a:first-child {
        padding: 8px;
    }
    
    .nav-links a:first-child i {
        margin: 0px;
    }
    
    .main-account {
        width: 100%;
        height: 30%;
        padding-top: 120px;
    }
    
    .main-account a {
        display: flex;
        justify-content: space-between;
        padding: 8px 10px 8px 15px;
        margin-left: 10px;
    }
    
    .tweet-img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: white;
    }
    
    .account-details {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        margin-right: 10px;
        font-size: 1.5rem;
        line-height: 20px;
    }
    
    .account-name {
        font-weight: 500;
    }
    
    .account-handle {
        color: rgb(236, 236, 236);
    }
    
    .main1 {
        width: 80%;
        height: 100%;
        margin-right: 20%;
        background-color: rgba(233, 239, 240, 0.925);
    
    }
    
    .main-flex {
        display: flex;
        width: 100%;
    }
    
    .main-feed {
        width: 70%;
        border-right: 1px solid rgb(26, 25, 25);
    }
    
    .button-62 {
        background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
        border: 0;
        border-radius: 12px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        outline: transparent;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }
    
    .button-62:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
    .button-62:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
    .home-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        width: 100%;
        color: rgb(4, 0, 0);
        font-size: 2.5rem;
        font-weight: 400;
        padding: 0 15%;
        position: sticky;
        top: 0;
    }
    
    .new-post {
        width: 100%;
        height: 150px;
        display: flex;
        padding: 16px 250px;

    
    }
    
    .new-post img {
        width: 48px;
        height: 48px;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .new-post .button-62 {
        width: 50px;
        margin-right: 400px;
    }
    
    .new-post-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 4px;
        width: 100%;
        margin-right: 120px;
    }
    
    .new-post-actions ul {
        list-style: none;
        display: flex;
    }
    
    .new-post-details textarea {
        width: 100%;
        height: 45%;
        font-size: 2rem;
        border: none;
        outline: none;
        background: none;
        color: rgb(0, 0, 0);
        text-decoration: none;
    
    }
    
    .new-post-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 60%;
        outline: none;
    }
    
    .new-post-actions ul li {
        margin-right: 12px;
        color: rgb(239, 150, 61);
        cursor: pointer;
    }
    
    .new-post-actions .button-62 {
        width: 75%;
        height: 35px;
        margin-right: 200px;
        font-weight: 400;
        font-size: 1.5rem;
    
    }
    
    .feed-post img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .feed-post {
        display: flex;
        width: auto;
        min-height: 100px;
        padding: 12px 16px 0 16px;
        cursor: pointer;
    }
    
    .feed-post-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 12px;
    }
    
    .feed-post i {
        color: rgb(175, 181, 185);
        font-size: 2rem;
    }
    
    .poster-details {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .poster-details a {
        font-weight: 700px;
    }
    
    .poster-details span {
        color: rgb(175, 181, 185);
        font-size: 1.5rem;
        font-weight: 400;
        margin-right: 4px;
    }
    
    .post-text {
        color: rgb(243, 236, 223);
        font-size: 1.5rem;
        width: 100%;
    }
    
    .post-icon {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 15px 0;
        padding-left: 50px;
    
    }
 
    
    .search {
        display: flex;
        height: 55px;
        max-width: 355px;
        position: sticky;
        top: 0;
        padding-top: 5px;
        background: none;
    }
    
    .search input {
        background-color: #ebece9;    
        border-radius: 9999px;
        height: 45px;
        width: 100%;
        border: none;
        padding-right: 30px;
        color: #fdfdfd;
        font-size: 1.5rem;
        line-height: 20px;
        font-weight: 400;
    
    }
    
    .trending {
        display: flex;
        flex-direction: column;
        min-height: 400px;
        max-width: 355px;
        border-radius: 16px;
        background-color: #ebece9;
        margin-top: 16px;
    }
    
    .h1-title {
        color: rgb(0, 0, 0);
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 24px;
        padding: 15px 15px;
    }
    
    
    
    .item-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .trending span {
        font-size: 1.3rem;
    }
    
    .trending p {
        font-size: 1.8rem;
        color: rgb(37, 23, 66);
    }
    
    .trending-item:hover,
    .follow-profile :hover,
    .show_more:hover {
        background-color: #b6b7b9;
        cursor: pointer;
        border-radius: 16px;
    }
    
    .bu-primary {
        background-color: var(--Moderate-blue);
        color: var(--White);
        border: none;
        padding: .75rem 1.5rem;
        border-radius: 4px;
    }
    
    .comment-section {
        padding: 0 1rem;
    }
    
    .container {
        padding: 1.5rem;
        padding-right: calc(100% - 800px);
        background-color: var(--White);
    }
    
    .comments-wrp {
        display: flex;
        flex-direction: column;
    }
    .comment-wrp{
        border-bottom: .5px solid rgb(138, 134, 134);
    }
    
    
    .comment-section {
        max-width: 75ch;
        margin: auto;
        margin-top: 1rem;
    }
    
    .comment {
        margin-bottom: 1rem;
        display: grid;
        grid-template-areas:
            "score user controls"
            "score comment comment"
            "score comment comment"
        ;
        grid-template-columns: auto 1fr auto;
        gap: 1.5rem;
        row-gap: 1rem;
        color: var(--Grayish-Blue);
    }
    
    .c-score {
        color: var(--Moderate-blue);
        font-weight: 500;
        grid-area: score;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: .75rem;
        padding-top: .5rem;
        width: 1rem;
        box-sizing: content-box;
        background-color: var(--Very-light-gray);
        border-radius: 8px;
        align-self: flex-start;
    }
    
    .score-control {
        width: 100%;
        cursor: pointer;
        object-fit: scale-down;
    }
    
    .c-text {
        grid-area: comment;
        width: 100%;
    }
    .all_comment{
        display: flex;
        justify-content: space-between;
    }
    
    .c-user {
        width: 100%;
        grid-area: user;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    
    .usr-name {
        color: var(--Dark-blue);
        font-weight: 700;
    }
    
    .usr-img {
        height: 2rem;
        width: 2rem;
    }
    
    .c-controls {
        display: flex;
        gap: 1rem;
        color: var(--Moderate-blue);
        grid-area: controls;
        align-self: center;
        justify-self: flex-end;
    }
    
    .c-controls a {
        align-items: center;
    }
    
    .edit,
    .reply {
        color: var(--Moderate-blue);
    }
    
    .edit {
        display: none;
    }
    
    .delete {
        color: var(--Soft-Red);
        display: none;
    }
    
    .control-icon {
        margin-right: .5rem;
    }
    
    .replies {
        display: flex;
        margin-left: 2.5rem;
        padding-left: 2.4rem;
        border-left: 1px solid var(--Light-grayish-blue);
    }
    
    .like img {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    
    .share img {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    
    .like img :hover {
        box-shadow: 0 0 4px slategray;
        background-color: rgb(239, 242, 252);
    }
    
    
    .reply-to {
        color: var(--Moderate-blue);
        font-weight: 500;
    }
    
    .reply-input {
        display: grid;
        margin-bottom: 1rem;
        grid-template-areas: "avatar input button";
        grid-template-columns: min-content auto min-content;
        justify-items: center;
        gap: 1rem;
        min-height: 9rem;
    }
    
    .reply-input img {
        grid-area: avatar;
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .reply-input button {
        grid-area: button;
        align-self: flex-start;
    }
    
    .reply-input textarea {
        grid-area: input;
        padding: 1rem;
        width: 100%;
        border: 1px solid var(--Light-gray);
        border-radius: 4px;
        resize: none;
    }
    
    .this-user .usr-name::after {
        font-weight: 400;
        content: "you";
        color: var(--White);
        background-color: var(--Moderate-blue);
        padding: 0 .4rem;
        padding-bottom: .2rem;
        font-size: .8rem;
        margin-left: .5rem;
        border-radius: 2px;
    }
    
    .this-user .reply {
        display: none;
    }
    
    .this-user .edit,
    .this-user .delete {
        display: flex;
    }
    
    
    
    .item-content{
        width: 98%;
        height: max-content;
        background-color: white;
        box-shadow: 0 0 10px gray;
        border-radius: 10px 10px;
        padding: 3px 5px;
    
    }
    .main-item{
        width: 100%;
        height: 30%;
        display: flex;
    }
    .main-item img{
        width: 40px;
        height: 40px;
        border-radius: 999px;
    
    }
    .main-item h1{
        font-size: 2rem;
        font-weight: 600;
        padding:3px 10px;
        margin: 0 3px;
        height: 30px;
        color: black;
    
    }
    
    .main-item h1:hover{
        cursor: pointer;
        border-bottom: .5px solid rgb(104, 78, 78);
        color: blue;
    }
    .main-item p{
        font-size: 1.3rem;
        font-weight: 300;
        margin: 0 5px;
    }
    .container{
        background: none;
    }
    .item-content{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .item-content .content{
        width: 100%;
        min-height: 70px;
        font-size: 1.3rem;
        font-weight: 500px;
    }
    
    .item-content .reacts{
        width: 100%;
        height: 30px;
        display: flex;
    
    }
    .item-content .reacts a{
        display: flex;
        color: rgb(28, 3, 98);
        width: 50px;
        margin: 0 50px;
    
    }
    
    .item-content .reacts a  .num{
        margin: 0 5px;
    }
    .item-content .reacts a .num_like .like{
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(28, 3, 98);}
    
    .item-content .reacts a img{
        width: 20px;
        height: 20px;
        margin: 3px 5px;
    
    }
    .item-content .reacts a img:hover{
        width: 25px;
        height: 25px;
    }
    @media screen and (max-width:640px) {
        .container {
            padding: .75rem;
        }
    
        .replies {
            padding-left: 1rem;
            margin-left: .5rem;
        }
    
        .comment {
            grid-template-areas:
                "user user user"
                "comment comment comment"
                "score ... controls"
            ;
    
            gap: .5rem;
        }
    
        .c-score {
            flex-direction: row;
            width: auto;
        }
    
        .reply-input {
            grid-template-areas:
                "input input input"
                "avatar ... button"
            ;
            grid-template-rows: auto min-content;
            align-items: center;
            gap: .5rem;
        }
    
        .reply-input img {
            height: 2rem;
            width: 2rem;
        }
    
        .reply-input textarea {
            height: 6rem;
            padding: .5rem;
            align-self: stretch;
        }
    }
    
    
    .modal-wrp {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .3);
    }
    
    .modal {
        padding: 1.5rem;
        max-width: 32ch;
        display: grid;
        gap: 1rem;
        grid-template-areas:
            "heading heading"
            "body body"
            "no yes";
    }
    
    .invisible {
        display: none;
    }
    
    .modal h3 {
        grid-area: heading;
        color: var(--Dark-blue);
    }
    
    .modal button {
        color: var(--White);
        padding: .75rem;
        border-radius: 8px;
        border: none;
        font-weight: 500;
    }
    
    .modal p {
        grid-area: body;
        color: var(--Grayish-Blue);
        line-height: 1.5;
    }
    
    .modal .yes {
        grid-area: yes;
        background-color: var(--Soft-Red);
    }
    
    .modal .no {
        background-color: var(--Grayish-Blue);
        grid-area: no;
    }
    
    .follow {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        max-width: 355px;
        border-radius: 16px;
        background-color: #ebece9;
        margin-top: 16px;
    }
    
    .follow-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        margin-top: 5px;
        padding: 30px 15px;
    }
    
    .follow-profile a {
        font-size: 1.8rem;
        color: rgb(37, 23, 66);
        font-weight: 700;
    
    }
    
    .follow-profile a:hover {
        text-decoration: underline;
    }
    
    .follow-details {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    
    .follow-details span {
        color: rgb(56, 47, 47);
        font-size: 1.4rem;
        font-weight: 400;
    
    }
    
    #follows {
        font-weight: 300;
        font-size: 1.2rem;
        border-radius: 5px;
        padding: 2px 4px;
        background-color: #989898;
        margin-right: 4px;
    }
    
    .follow-btn {
        margin: 0 0 0 5px;
        width: 30px;
    }
    
    .show_more {
        display: flex;
        align-items: center;
        color: rgb(72, 72, 110);
        font-size: 1.5rem;
        font-weight: 300;
        width: 30%;
        padding: 5px;
        border-radius: 9999px;
    }
    
    @media screen and (max-width:1260px) {
        header {
            width: 10%;
            padding: 10px 0;
        }
    
        .main1 {
            margin-right: 10%;
            width: 90%;
        }
    
        header span {
            display: none;
        }
    
        .new-post .button-62 {
            width: 15%;
            border-radius: 50%;
            font-size: 100%;
            margin-right: 0;
        }
    
        .follow .button-62 {
            width: 15%;
            border-radius: 50%;
            font-size: .8rem;
            font-size: 100%;
        }
    
    
        header .main-account {
            display: flex;
            justify-content: center;
    
        }
    
        header .main-account i {
            display: none;
    
        }
    
        header .account-details {
            display: none;
    
        }
    
    
        .nav-links {
            align-items: center;
        }
    
        .nav-links a i {
            margin: 0;
        }
    
        .nav-links a,
        .main-account a {
            padding: 10px;
        }
    
        .main-feed {
            width: 100%;
            padding: 0 10px;
        }
    
        .main-feed .home-bar {
            font-size: 1.5rem;
        }
    
        .main-feed .home-bar i {
            width: 10%;
        }
    
        .main-feed .new-post img {
            width: 30%;
            height: 20%;
        }
    
    }
    
    
   
    

    

}



