.navbar-light .navbar-nav {
    margin-left: auto;
    margin-right: unset;
}

.navbar-light .navbar-nav li {
    margin-left: 0px;
    margin-right: 2vw;
}

.right-part ul li a .nav-icon {
    margin-right: 0px;
    margin-left: 12px;
}

.right-part ul li a .badge {
    margin-left: 0px;
    margin-right: 8px;
}

.margin-left-auto {
    margin-left: unset;
    margin-right: auto;
 }

 .form-group select.form-control {
    background-position: center left 0;
}

.profile-form form .form-group i {
    right: unset;
    left: 20px;
}

.asterisk {
    right: unset;
    left: 18px;
}

.max-hieght-table table tbody tr td {
    /* border-right: none; */
    /* border-left: 5px solid #fff !important; */
}

.max-hieght-table td, .max-hieght-table th {
    text-align: right !important;
}

.final-header-style .navbar-expand-lg .navbar-nav .dropdown-menu {
    text-align: right;
}

.final-header-style a.dropdown-item {
    text-align: right !important;
}

.final-header-style .navbar-light .navbar-nav .nav-link::before {
    left: unset !important;
    right: right !important;
}

.discount-form {
    direction: rtl;
    text-align: left;
}

.change-cv-themebutton {
    margin-left: unset;
    margin-right: auto;
} 