@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@font-face {
    font-family: "jannat";
    src: url("a-jannat-lt-regular.ttf");
}

@font-face {
    font-family: "jannat-bold";
    src: url("a-jannat-lt-bold.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Montserrat:wght@500&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600&display=swap");

/* ***** Common Css **** */
body {
    font-family: jannat;
}

:root {
    scroll-behavior: initial;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.disk-list {
    padding-left: 20px;
}

.disk-list li {
    list-style: disc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

a {
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    text-decoration: none;
}

body {
    font-family: "jannat", sans-serif;
    background: #f5f8fa;
    font-size: 14px;
    font-weight: 400;
    color: #1c1d22;
    text-decoration: none;
    scrollbar-width: none;
    /* Firefox */
    overflow: -moz-scrollbars-none;
    /* Firefox */
}

.main-wrpper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1690px;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    padding: 34px 0;
}

.col-md-3.col-sm-12.main-col {
    width: 25%;
}

.col-md-9.col-sm-12.main-col {
    width: 75%;
}

/* ***** End Common Css **** */

/* **** Header **** */
header {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 22px 0;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}

.navbar .container .navbar-brand,
.navbar .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    margin: 0;
}

.navbar-brand img {
    max-width: 100%;
    height: 32px;
}

.toggle-menu {
    font-size: 24px;
    color: #17456b;
    display: none;
}

.toggle-menu:hover {
    color: #17456b;
}

.navbar {
    background: transparent;
    position: relative;
    width: 100%;
    left: 1;
    top: 0;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}

.navbar-light .navbar-nav {
    margin-right: auto;
}

.navbar-light .navbar-nav li {
    margin-left: 3vh;
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    color: #000;
    font-size: 20px;
    color: #707070;
    font-weight: 500;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:hover {
    color: #17456b;
}

.navbar .navbar-nav a.active,
.navbar .navbar-nav a.active:focus {
    color: #17456b;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #17456b;
}

.navbar-light .navbar-info {
    display: flex;
    align-items: center;
}

.navbar-light .navbar-info li {
    margin: 0 30px;
}

.navbar-light .navbar-info li:last-child {
    margin: 0;
}

.navbar-light .navbar-info li a img {
    max-width: 100%;
}

.navbar-light .navbar-info li a.call-btn {
    font-size: 20px;
    color: #17456b;
    font-weight: 500;
    padding: 9px 24px;
    border: 2px solid #17456b;
    border-radius: 40px;
    display: table;
}

.navbar-light .navbar-info li a.call-btn i {
    margin-left: 5px;
}

.navbar-light .navbar-info li a.call-btn:hover {
    background: #17456b;
    color: #fff;
}

/* **** End Header **** */

/* **** toggler **** */
.navbar-light .navbar-toggler {
    background-color: transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: none;
    height: 40px;
    width: 50px;
    padding: 0;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
    background-image: unset;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 18px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #000;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

/* **** End toggler **** */

/* **** Right Part **** */
.right-part {
    background: #ffffff;
    border-radius: 16px;
    position: relative;
    height: calc(100vh - 168px);
    padding: 40px;
    overflow: auto;
}

.right-part ul {
    height: 100%;
    overflow: auto;
}

.right-part ul li {
    margin: 0px;
}

.right-part ul li a {
    font-size: 20px;
    color: #45464e;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 13px 16px;
    border-radius: 0px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* .right-part ul li:nth-child(2) a{
    border-bottom: 4px solid #e0e0e0;border-radius: 0;
    margin: 0 0 35px;
}
.right-part ul li:nth-child(6) a{
    border-bottom: 4px solid #e0e0e0;border-radius: 0;
    margin: 0 0 35px;
} */

.seperator {
    width: 94%;
    height: 4px;
    background-color: #e0e0e0;
    margin: 15px auto;
}

.right-part ul li a .nav-icon {
    display: flex;
    align-items: center;
    min-height: 24px;
    margin-right: 12px;
}

.right-part ul li a .nav-icon img {
    max-width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.company-right-side ul li a .badge {
    width: 61px;
}

.right-part ul li a .badge {
    display: block;
    background: #ffcc91;
    border-radius: 12px;
    font-size: 14px;
    color: #17456b;
    font-weight: 400;
    margin-left: 8px;
}

.right-part ul li a:hover {
    color: #b8c5d6;
}

.right-part ul li a.active {
    background: #b8c5d6;
    color: #fff;
    border-radius: 12px;
}

.right-part ul li a.active img {
    filter: brightness(0) invert(1);
}

.right-part .logout-btn {
    font-size: 20px;
    color: #cc5f5f;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 55px;
    background: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
}

.right-part .logout-btn img {
    max-width: 100px;
    margin-left: 12px;
}

/* **** End Right Part **** */

/* **** Content Detail **** */
.content-detail {
    background: #ffffff;
    border-radius: 16px;
    position: relative;
    height: calc(100vh - 168px);
    padding: 32px;
    overflow: auto;
}

.main-title h2, .section-heading {
    font-size: 30px;
    line-height: 44px;
    font-weight: bold;
    color: #1c1d22;
    margin: 0 0 32px;
    display: flex;
    align-items: center;
}

.main-title h2 a {
    font-size: 24px;
    color: #45464e;
    margin-right: 10px;
}

.main-title h2 .btn-primary {
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 22px;
    padding: 12px 65px;
    margin-left: 0;
    margin-right: auto;
}

.main-title h2 .btn-primary:hover {
    background: #8dc8d7;
    color: #17456b;
}

.tooltip-inner {
    max-width: 642px !important;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 500;
    text-align: right;
}

/* **** Content Detail **** */

/* **** Job Block **** */
.job-block .job-box {
    background: rgba(0, 91, 167, 0.08);
    border-radius: 16px;
    margin: 0 0 30px;
    padding: 16px 24px 24px;
}

.job-block .newjob-box {
    background: #d9d9d9;
    border-radius: 38px;
    margin: 40px;
    padding: 9px;
}

.job-block .newjob-box h3 {
    color: #0e0e52 !important;
}

.job-block .job-box h3 {
    font-size: 24px;
    color: #004b89;
    font-weight: bold;
    margin: 0 0 22px;
}

.job-block .job-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #50728d;
    margin: 0 0 15px;
    height: 112px;
    overflow: hidden;
}

.job-block .job-box.newjob-box .btn-white {
    color: #0e0e52;
    width: 100%;
}

.job-block .job-box .btn-white {
    background: #fff;
    padding: 12px 65px;
    font-size: 20px;
    font-weight: 500;
    color: #004b89;
    display: table;
    border-radius: 30px;
    margin-left: 0;
    margin-right: auto;
}

.job-block .job-box .btn-white ul li,
.job-block .job-box .btn-white ul {
    list-style-type: disc;
    font-weight: bold;
}

.job-block .job-box .btn-white .img,
.job-block .job-box .btn-white .list {
    width: 50%;
}

.job-block .job-box .btn-white .img svg {
    width: 100%;
    height: 100%;
}

.job-block .job-box .btn-white ul li::marker {
    font-size: 14px;
}

.job-block .job-box .btn-white h3 {
    text-align: center;
}

.job-block .job-box .btn-white:hover {
    background: #004b89;
    color: #fff;
}

.job-block .job-box.newjob-box .btn-white:hover {
    background: #fff;
    color: #0e0e52;
}

.job-block .job-box.job-box2 {
    background: rgba(0, 162, 167, 0.08);
}

.job-block .job-box.job-box2 h3 {
    color: #00797e;
}

.job-block .job-box.job-box2 p {
    color: #557c7d;
}

.job-block .job-box.job-box2 .btn-white {
    color: #00797e;
}

.job-block .job-box.job-box2 .btn-white:hover {
    color: #fff;
    background: #00797e;
}

.job-block .job-box.job-box3 {
    background: rgba(167, 0, 146, 0.08);
}

.job-block .job-box.job-box3 h3 {
    color: #79026b;
}

.job-block .job-box.job-box3 p {
    color: #7e587a;
}

.job-block .job-box.job-box3 .btn-white {
    color: #79026b;
}

.job-block .job-box.job-box3 .btn-white:hover {
    color: #fff;
    background: #79026b;
}

.job-block .job-box.job-box4 {
    background: rgba(255, 204, 145, 0.08);
}

.job-block .job-box.job-box4 h3 {
    color: #ffcc91;
}

.job-block .job-box.job-box4 p {
    color: #ffcc91;
}

.job-block .job-box.job-box4 .btn-white {
    color: #ffcc91;
}

.job-block .job-box.job-box4 .btn-white:hover {
    color: #fff;
    background: #ffcc91;
}

/* **** End Job Block **** */

/* **** Job Application ***** */
.job-application form {
    max-width: 557.72px;
}

form .form-group {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 0 0 20px;
    padding: 15px 25px;
}

form .form-group label {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 400;
    margin: 0 0 8px;
}

form .form-group .form-control {
    font-weight: 500;
    font-size: 16px;
    color: #161615;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
}

form .form-group .form-control::placeholder {
    color: #161615;
}

.form-group select.form-control {
    width: 100%;
    display: inline-block;
    margin: 0 0;
    -webkit-appearance: none;
    background-image: url("../images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center right 0;
}

form .form-checkblock {
    position: relative;
    margin: 0 0 30px;
}

form .form-checkblock label {
    font-size: 20px;
    color: #45464e;
    font-weight: 500;
    margin: 0 0 12px;
}

form .form-checkblock ul {
    display: flex;
    align-items: center;
}

form .form-checkblock ul li {
    margin-right: 20px;
}

form .form-checkblock ul li:first-child {
    margin: 0;
}

form .form-checkblock ul li [type="radio"]:checked,
form .form-checkblock ul li [type="radio"]:not(:checked) {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

form .form-checkblock ul li [type="radio"]:checked + label,
form .form-checkblock ul li [type="radio"]:not(:checked) + label {
    position: relative;
    padding-right: 28px;
    cursor: pointer;
    margin: 0;
    line-height: 20px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #161615;
}

form .form-checkblock ul li [type="radio"]:checked + label:before,
form .form-checkblock ul li [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

form .form-checkblock ul li [type="radio"]:checked + label:after,
form .form-checkblock ul li [type="radio"]:not(:checked) + label:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background: #17456b;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

form .form-checkblock ul li [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

form .form-checkblock ul li [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

form .form-checkblock ul li [type="radio"]:checked + label:after,
form .form-checkblock ul li [type="radio"]:not(:checked) + label:after {
    border-color: #17456b;
}

form .form-checkbox {
    margin: 0 0 30px;
}

form .form-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

form .form-checkbox label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #161615;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
}

form .form-checkbox label a {
    font-size: 18px;
    color: #17456b;
    font-weight: bold;
}

form .form-checkbox label a:hover {
    color: #000;
}

form .form-checkbox label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
}

form .form-checkbox input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 9px;
    width: 6px;
    height: 14px;
    border: solid #aaaaaa;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* **** End Job Application ***** */

.btn-primary {
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: block;
    font-weight: 100%;
    background: #17456b;
    padding: 13px 16px;
    border-radius: 40px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.btn-primary:hover {
    background: #8dc8d7;
    color: #17456b;
}

/* **** application-information **** */
.application-information {
    background: #ffffff;
    border-radius: 16px;
    padding: 35px 26px;
    margin: 0 0 24px;
}

.application-information .col-md-3 {
    width: 31%;
}

.application-information .col-md-4 {
    width: 31%;
}

.application-information .col-md-5 {
    width: 38%;
}

.application-information .information-box {
    display: flex;
    align-items: center;
}

.application-information .information-box .box-icon {
    height: 125px;
    width: 125px;
    min-width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(23, 69, 107, 0.04);
    border-radius: 32px;
    margin-left: 12px;
}

.application-information .information-box .box-icon img {
    max-width: 100%;
}

.application-information .information-box h3 {
    font-size: 24px;
    font-weight: bold;
    color: #17456b;
    margin: 0 0 12px;
}

.application-information .information-box p {
    font-size: 18px;
    line-height: 25px;
    color: #45464e;
    font-weight: 400;
    margin: 0;
}

/* **** End application-information **** */

/* ***** Urgent Application Content **** */
.urgent-application-content .content-detail {
    height: calc(100vh - 387px);
}

.content-detail .company-form {
    max-width: 991px;
    margin: 0 0 32px;
}

.content-detail .company-form h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #1c1d22;
}

.marketer-box {
    background: #17456b;
    border-radius: 32px;
    padding: 55px 40px;
    justify-content: center;
}

.marketer-box .form-group {
    padding: 0;
    border-radius: 0;
    border: none;
}

.marketer-box .form-group:last-child {
    margin: 0;
}

.marketer-box .form-group label {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 8px;
}

.marketer-box .form-group .form-control {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 24px;
    text-align: center;
    border-radius: 40px;
}

/* ***** End Urgent Application Content **** */

/* **** Job Information **** */
.job-information {
    padding: 0 0 12px;
    border-bottom: 1px solid #bebfc1;
    margin: 0 0 24px;
}

.job-information ul {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    overflow: auto;
    justify-content: space-between;
}

.job-information ul::-webkit-scrollbar {
    width: 10px;
    display: block;
}

.job-information ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.job-information ul::-webkit-scrollbar-thumb {
    background: #888;
}

.job-information ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.job-information ul li {
    padding: 0 8px;
}

.job-information .form-group .form-control {
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 40px;
    border: 1px solid #33343a;
    box-shadow: none;
    outline: none;
    max-height: 46px;
}

.job-information .form-group select.form-control {
    padding: 10px 16px 10px 40px;
    width: 100%;
    display: inline-block;
    min-width: 116px;
    margin: 0 0;
    -webkit-appearance: none;
    background-image: url("../images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center left 10px;
    height: max-content;
}

/* **** End Job Information **** */

/* **** table-block **** */
.table-block table thead tr th {
    font-size: 14px;
    font-weight: bold;
    color: #1c1d22;
    padding: 0 8px 16px;
    vertical-align: middle;
}

.table-block table tbody tr td {
    font-size: 16px;
    color: #1c1d22;
    font-weight: 500;
    padding: 16px 8px;
    vertical-align: middle;
    background: #fcfcfc;
    border-bottom: 20px solid #fff;
}

.table-block table tbody tr:last-child td {
    border: none;
}

.table-block table tbody tr td span {
    color: #6e7079;
    display: block;
}

.table-block table tbody tr td h6 {
    font-size: 12px;
    line-height: 17px;
    color: #17456b;
    padding: 2px 4px;
    border-radius: 8px;
    margin: 0;
    width: 127px;
    text-align: center;
    border: 1px solid #17456b;
}

.table-block table tbody tr td h5 {
    font-size: 14px;
    line-height: 19px;
    color: #1c1d22;
    margin: 0;
    text-align: center;
    font-size: 400;
}

.table-block table tbody tr td a img {
    max-width: 100%;
}

.table-block table tbody tr td .btn-plus {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    background: #17456b;
    margin: 0 auto;
}

.table-block table tbody tr td .btn-plus:hover {
    background: #8dc8d7;
    color: #17456b;
}

.table-block table tbody tr td .btn-trash {
    margin: 0;
    margin-right: auto;
    font-size: 16px;
    color: #ca5a74;
}

.table-block table tbody tr td .btn-edit {
    margin: 0;
    margin-right: auto;
    font-size: 16px;
    color: #eec89d;
    display: table;
    margin: 0 auto;
}

.table-block table tbody tr td .form-group select.form-control {
    background-color: #ececec;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #1c1d22;
    padding: 8px 12px 8px 32px;
    border-radius: 30px;
    background-position: center left 10px;
}

.table-block .dropdown-toggle {
    font-size: 16px;
    line-height: 22px;
    color: #1c1d22;
    background: #ececec;
    padding: 8px 22px 8px 12px;
    border-radius: 11px;
    border: none;
    display: flex;
    align-items: center;
}

.table-block .dropdown-toggle img {
    max-width: 100%;
    margin-right: 12px;
}

.table-block .dropdown-toggle:after {
    display: none;
}

.table-block .dropdown-menu {
    padding: 0;
    display: block;
    border: none;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.table-block .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.table-block .dropdown-menu li {
    margin: 0;
}

.table-block .dropdown-menu li .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 22px;
    color: #33343a;
    font-weight: 500;
    padding: 5px 10px;
}

.table-block .dropdown-menu li .dropdown-item img {
    max-width: 100%;
    margin-left: 15px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.table-block .dropdown-menu li .dropdown-item:hover {
    background: #17456b;
    color: #fff;
}

.table-block .dropdown-menu li .dropdown-item:hover img {
    filter: brightness(0) invert(1);
}

/* **** End table-block **** */

/* **** NoteModal **** */
#NoteModal {
    background: rgba(165, 160, 160, 0.4);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
}

#NoteModal .modal-dialog {
    max-width: 646px;
}

#NoteModal .modal-content {
    padding: 32px 55px 60px;
    background: #fff;
    border-radius: 16px;
    box-shadow: none;
    outline: none;
    border: none;
    position: relative;
}

#NoteModal .modal-content .close-btn {
    height: 35px;
    width: 35px;
    color: #000;
    font-size: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff2e2;
    border: none;
    justify-content: center;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#NoteModal .modal-content .close-btn:hover {
    background: #8dc8d7;
    color: #17456b;
}

#NoteModal .modal-content .modal-body {
    padding: 0;
}

#NoteModal .modal-content .modal-body h2 {
    font-size: 30px;
    font-weight: bold;
    color: #1c1d22;
    margin: 0 0 40px;
    text-align: center;
}

#NoteModal .modal-content .modal-body .form-group {
    margin: 0 0 48px;
    padding: 0;
    border: none;
}

#NoteModal .modal-content .modal-body .form-group .form-control {
    font-size: 14px;
    line-height: 19px;
    padding: 12px 19px;
    box-shadow: none;
    outline: none;
    border: 1px solid #cfd3d5;
    border-radius: 8px;
}

#NoteModal .modal-content .modal-body .btn-primary {
    padding: 13px 30px;
    display: block;
    text-align: center;
    width: 357px;
    margin: 0 auto;
}

/* **** End NoteModal **** */

/* **** Terms Condition Block **** */
.terms-condition-block h2 {
    font-size: 30px;
    color: #1c1d22;
    font-weight: bold;
    margin: 0 0 20px;
}

.terms-condition-block p {
    font-size: 16px;
    line-height: 30px;
    color: #161615;
    font-weight: 400;
    margin: 0 0 25px;
}

.terms-condition-block .btn-primary {
    max-width: 485px;
}

/* **** End Terms Condition Block **** */

/* ***** Deleted Application Table **** */
.deleted-application-table .table-block table tbody tr td:nth-child(6) {
    width: 10%;
}

.deleted-application-table .table-block table tbody tr td:nth-child(7) {
    width: 10%;
}

.deleted-application-table .table-block table tbody tr td:nth-child(8) {
    width: 4%;
}

.deleted-application-table .table-block table tbody tr td .btn-trash {
    transform: rotate(25deg);
    display: table;
    margin: 0 auto;
}

/* ***** End Deleted Application Table **** */

/* **** advertised-block **** */
.advertised-block {
}

.advertised-box {
    background: #ffffff;
    box-shadow: 0px 0px 20px #0000001a;
    opacity: 1;
    padding: 16px 25px 25px;
    margin: 0 0 30px;
    position: relative;
}

.advertised-box h3 {
    font-size: 24px;
    color: #1c1d22;
    font-weight: bold;
    margin: 0 0 12px;
}

.advertised-box p {
    font-size: 18px;
    font-weight: 400;
    color: #6e7079;
    margin: 0 0 30px;
}

.advertised-box ul {
    margin: 0 0 30px;
}

.advertised-box ul li:last-child {
    margin: 0;
}

.advertised-box ul li {
    font-size: 18px;
    color: #6e7079;
    font-weight: 400;
    margin: 0 0 12px;
}

.advertised-box ul li strong {
    color: #1c1d22;
    font-weight: bold;
}

/* .advertised-box .btn-edit {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #000;
    height: 45px;
    width: 45px;
    font-size: 20px;
    color: #FFF;
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: center;
} */
/* .advertised-box .btn-edit:hover{
    background: #17456b;
    color: #fff;
} */

.advertised-box .icon {
    background: #000;
    height: 45px;
    width: 45px;
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: #fff;
}

.check-discount-code-icon {
    padding: 11px 18px;
    border-radius: 20px;
    border: 1px solid #fafafa;
    box-shadow: 0px 4px 20px 0px rgba(14, 14, 14, 0.1803921569);
    cursor: pointer;
    color: #004b89 !important;
    font-size: 20px;
    margin-top: 2px;
}

.discount-code {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 20px;
    border: 1px solid #cfcdcd;
    font-size: 20px;
}

.advertised-box .btn-detail {
    font-size: 16px;
    line-height: 22px;
    color: #17456b;
    font-weight: 400;
    padding: 12px 65px;
    border: 1px solid #17456b;
    border-radius: 30px;
    margin: 0 auto;
    display: table;
}

.advertised-box .btn-detail:hover {
    background: #17456b;
    color: #fff;
}

/* **** End advertised-block **** */

/* ***** profile-form ***** */
.profile-form form {
    max-width: 100%;
}

.profile-form form .form-group {
    position: relative;
}

.profile-form form .form-group i {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px;
    color: #111;
}

.uploadbox label {
    font-size: 20px;
    font-weight: 500;
    color: #1c1d22;
    margin: 0 0 12px;
    margin: 0 auto 12px;
}

.upload-imgbx {
    position: relative;
    background: rgba(110, 112, 121, 0.07);
    height: 110px;
    width: 110px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.upload-imgbx input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
}

/* ***** End profile-form ***** */

/* **** Select 2 Input **** */
.select2-container {
    width: 100% !important;
    display: block;
    width: 100%;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 100%;
}

.select-group .select2-container--default .select2-selection--single {
    border: none;
    background: transparent;
    border-radius: 0;
    height: auto;
}

.select-group
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}

.select-group
    .select2-container
    .select2-selection--single
    .select2-selection__rendered {
    padding: 0;
}

/* **** End Select 2 Input **** */

/* **** Select 2 Dropdown **** */
.select2-container--open .select2-dropdown--below {
    border-top: 1px solid #aaa;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.select2-results__option {
    padding: 5px 10px !important;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.select2-container--default .select2-results__option--selected {
    background: #fff;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background: #17456b;
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: none;
}

.select2-container .select2-selection--multiple {
    min-height: unset;
}

/* **** End Select 2 Dropdown **** */

/* ***** Select 2 multiple ***** */
.select2-container--default .select2-selection--multiple {
    border: none;
    background: transparent;
    border-radius: 0;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    padding: 0;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}

.select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice {
    margin: 0 0 0 4px;
    padding: 5px 10px 5px 40px;
}

.select2-container--default[dir="rtl"]
    .select2-selection--multiple
    .select2-selection__choice__remove {
    border: none;
    padding: 0;
    padding: 0;
    background: #6e7079;
    padding: 0 0 3px;
    color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0, -50%);
    left: 7px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background: #edeef1;
    padding: 6px 8px;
    border-radius: 30px;
    border: none;
}

/* ***** End Select 2 multiple ***** */

.asterisk {
    color: red;
    font-size: 25px;
    position: absolute;
    right: 18px;
    top: 7px;
}

.filter-container-v2 {
    background: #ffffff;
    border-radius: 16px;
    position: relative;
    padding: 0px 32px;
    margin-bottom: 30px;
}

.v2 .job-information {
    padding: 0 0 12px;
    border-bottom: none;
    margin: 0;
}

.filter-container-v2 .job-information {
    padding: 0;
}

.job-information .search-btn {
    border-radius: 15px;
    padding: 10px 0;
    background-color: #1967d3;
}

.job-information .btn {
    padding: 12px 50px;
}

.filter-container-v2 .form-control {
    border-radius: 18px;
}

.filter-container-v2 label {
    padding: 0 10px;
}

.btn-note {
    font-size: 18px;
    background-color: #17456b;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    height: fit-content;
    font-weight: bold;
    margin: 0 20px;
}

.modal .heading {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.modal .post-details {
    padding: 20px 0;
    font-size: 18px;
}

.btn-container {
    width: 180px;
    margin: 0 auto;
}

.btn-container .btn {
    min-width: 80px;
}

.add-circular {
    width: 30px;
    height: 30px;
    background: #17456b;
    margin-right: auto;
    border-radius: 15px;
    cursor: pointer;
}

.add-circular i {
    color: #fff;
    font-size: 14px;
}

.mid-width .btn {
    min-width: 100px;
}

.mid-width .btn-container {
    width: 220px;
}

.mid-width .modal-content {
    width: 700px;
    max-width: 98vw;
}

.mid-width .heading {
    font-size: 24px;
    margin-bottom: 25px;
}

.modal .note-details {
    margin-bottom: 25px;
}

.modal form button {
    border-radius: 10px;
}

.alert-block .close {
    background: no-repeat;
    border: none;
    padding: 0 20px;
}

.alert-p {
    font-size: 16px;
    color: red;
}

.job-guide-filter-container {
    width: 520px;
    max-width: 100%;
}

.job-guide-filter-container select {
    height: fit-content;
    width: 280px;
    border-radius: 16px;
    font-size: 20px;
}

.main-title .job-guide-filter-container h2 {
    margin-bottom: 0;
}

.def-select.form-control {
    margin: 0 0;
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center left 10px;
    border: 1px solid #ced4da;
    box-shadow: none;
    outline: none;
    padding: 5px 15px 5px 30px;
}

.inside-style-ul li {
    list-style: inside !important;
}

.dir-ltr {
    direction: ltr !important;
}

.dir-rtl {
    direction: rtl !important;
}

.none {
    display: none !important;
}

.profile-form select {
    padding: 5px 5px 5px 30px !important;
}

.top-bar {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.top-bar p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.top-bar a {
    background-color: #17456b;
    border: 2px solid #17456b;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    transition: ease-in-out all 0.3s;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.top-bar a:hover {
    background-color: #fff;
    color: #17456b;
}

div:where(.swal2-container).swal2-center > .swal2-popup {
    display: grid !important;
}

.custom-table table thead tr th {
    text-align: center;
}

.custom-table table thead tr.text-auto th {
    text-align: unset;
}

.custom-table table tbody tr td {
    width: min-content;
}

.custom-table table td {
    padding: 8px !important;
    vertical-align: inherit !important;
    border-bottom: 0px !important;
}

.custom-table table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.custom-table table td.vertical-middle {
    vertical-align: middle !important;
}

.pagination-container .pagination {
    justify-content: center;
}

.custom-table .notes {
    height: 50px;
    overflow: scroll;
}

.custom-table .notes::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.custom-table .notes::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.custom-table .notes::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.custom-table .notes::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-table .btn-primary,
.col-btn {
    width: max-content;
    padding: 10px 25px !important;
}

.job-application form .form-group .form-control {
    height: 30px;
}

.margin-left-auto {
    margin-left: auto;
}

.height-auto {
    height: auto !important;
}

.min-width-auto {
    min-width: auto !important;
    padding: 10px 25px;
}

.profile_company_table thead td.view,
.profile_company_table tbody td.view {
    width: 10%;
}

.profile_company_table thead td.title,
.profile_company_table tbody td.title {
    width: 30%;
}

.profile_company_table tbody {
    display: flex;
    flex-direction: column;
}

.profile_company_table tbody tr {
    display: flex;
}

.profile_company_table table {
    display: flex;
    flex-direction: column;
}

.profile_company_table table thead {
    display: flex;
    width: 100%;
}

.profile_company_table table thead tr {
    display: flex;
    width: 100%;
}

td.list {
    padding-left: 30px !important;
    position: relative !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

td.list::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100px;
    background-color: #000;
    position: absolute;
    display: block;
    left: 0;
}

.job-button-submit {
    padding: 15px 25px;
}

.job-button-submit input,
.job-button-submit div {
    /* padding: 8px 20px !important; */
    padding: 10px 16px !important;
    text-align: center;
    width: 100%;
    background-color: #0e0e52;
    border-radius: 8px;
}

.job-button-submit input:hover,
.job-button-submit div:hover {
    background-color: #150578;
    color: #fff;
}

.add-circular {
    background-color: #0e0e52;
}

.table-block table tbody tr td .btn-trash {
    color: #915990;
}

@media (max-width: 1199px) {
    .job-button-submit {
        padding: 7px 77px !important;
    }
}

.company-right-side {
    padding: 10px 10px;
}

.company-right-side ul li a {
    font-size: 18px;
    padding: 15px 10px;
}

.max-hieght-table table tbody tr td a img {
    max-width: 30px;
    margin: auto;
}

.max-hieght-table table tbody tr td textarea {
    width: 200px;
}

.max-hieght-table table tbody tr td,
.max-hieght-table table thead tr th {
    border: solid 2px #a2b0c3;
    /* border-right: 5px solid #fff !important; */
}

.max-hieght-table table thead tr th {
    /* position: sticky;
    top: 0; */
    /* Stick to the top of the container */
    z-index: 1;
    background-color: #fff;
}

.max-hieght-table table .h6-table {
    white-space: break-spaces;
    width: max-content;
    padding: 6px 16px;
}

.max-hieght-table {
    height: calc(100vh - 187px) !important;
    scrollbar-width: unset;
    /* Firefox */
    overflow: hidden !important;
    padding-bottom: 10px;
}

.width-10 {
    width: 10px !important;
    white-space: nowrap;
}

.filter-container-v2 .form-group {
    margin-bottom: 0px;
}

.max-hieght-table table::-webkit-scrollbar,
.max-hieght-table table tbody::-webkit-scrollbar {
    display: unset;
    background-color: #eee;
}

/* Customize the scrollbar track (background) */
.max-hieght-table table::-webkit-scrollbar,
.max-hieght-table table::-webkit-scrollbar-thumb-horizontal,
.max-hieght-table table tbody::-webkit-scrollbar,
.max-hieght-table table tbody::-webkit-scrollbar-thumb-horizontal {
    width: 10px !important;
    height: 10px !important;
    /* Adjust the width as needed */
}

/* Customize the scrollbar thumb (the draggable part) */
.max-hieght-table table::-webkit-scrollbar-thumb,
.max-hieght-table table tbody::-webkit-scrollbar-thumb {
    background-color: #999;
    /* Change the background color */
    border-radius: 5px;
    /* Add rounded corners */
}

/* Customize the scrollbar track when hovering */
.max-hieght-table table::-webkit-scrollbar-thumb:hover,
.max-hieght-table table tbody::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    /* Change the background color on hover */
}

/* Customize the scrollbar track (background) when dragging */
.max-hieght-table table::-webkit-scrollbar-thumb:active,
.max-hieght-table table tbody::-webkit-scrollbar-thumb:active {
    background-color: #2074a0;
    /* Change the background color when dragging */
}

.max-hieght-table td,
.max-hieght-table td a,
.max-hieght-table td span,
.max-hieght-table td h6 {
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflowing text */
    text-overflow: ellipsis;
    /* Display an ellipsis (...) for truncated text */
    max-width: 300px;
    /* Adjust the maximum width as needed */
}

.max-hieght-table td,
.max-hieght-table th {
    text-align: left !important;
}

.content-detail-2 {
    height: unset !important;
    padding: 10px;
}

.select-button-b {
    background-color: #0e0e52 !important;
    color: #fff !important;
}

.filter-container-v3 {
    margin-bottom: 15px;
}

.filter-container-v3 form .form-group {
    padding: 10px 25px;
}

.filter-container-v3 form .form-group label {
    margin: 0 0 5px;
}

.job-information .form-group .form-control {
    border-radius: 8px !important;
    border: 2px solid #fff !important;
    box-shadow: 0px 0px 5px #5f0418, inset 0 0 5px #f8c44f;
}

.job-information .btn-primary {
    border-radius: 8px !important;
}

.newheader-style {
    background-color: #0e0e52;
}

.newheader-style .navbar .navbar-nav a.active,
.navbar .navbar-nav a.active:focus {
    color: #fff;
}

.newheader-style .navbar-light .navbar-info li a.call-btn {
    color: #fff;
    border: 2px solid #fff;
}

.final-header-style .navbar-brand {
    background-color: #0e0e52;
    padding: 20px 40px;
}

.final-header-style .navbar-light .navbar-nav .nav-link {
    color: #000 !important;
    font-family: "Cairo", sans-serif;
    position: relative;
}

.final-header-style .navbar-light .navbar-nav .nav-link.active::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #000;
    top: 100%;
    left: 0;
}

.final-header-style .navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    width: max-content;
    margin: 0;
}

.final-header-style .navbar-expand-lg .navbar-nav .dropdown-menu li {
    margin-right: 0;
    margin-left: 0;
}

.final-header-style .badge {
    background: #ffcc91;
    border-radius: 100%;
}

.final-header-style .navbar-light .navbar-nav .nav-link {
    text-transform: capitalize;
}

.final-header-style a.dropdown-item {
    text-align: left;
}

.final-header-style .navbar:has(> .collapse.show) {
    position: fixed;
    top: 25px;
}

.newheader-style .navbar-light .navbar-nav .nav-link {
    color: #eee;
}

.newheader-style .navbar-light .navbar-toggler-icon:after,
.newheader-style .navbar-light .navbar-toggler-icon:before {
    background-color: #fff;
}

.newheader-style .navbar-light .navbar-toggler-icon {
    border-bottom: 2px solid #fff;
}

.newheader-style .navbar-light .navbar-collapse.collapse.show {
    left: 0;
    background: #0e0e52;
}

.newheader-style .navbar:has(> .collapse.show) {
    position: fixed;
    top: 45px;
}

.newheader-style .toggle-menu i {
    color: #fff;
    cursor: pointer;
}

.final-header-style .dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
}

.final-header-style .nav-item:has(.active) .nav-link::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #000;
    top: 100%;
    left: 0;
}
.change-cv-themebutton {
    margin-left: auto;
}

.max-hieght-table .action-container {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 10;
    align-items: flex-end;
}

.max-hieght-table .action-container .job-button-submit {
    margin: 5px 10px !important;
    padding: 0 !important;
}

.max-hieght-table:has(.action-container) table thead tr th {
    top: 61px;
}

.max-hieght-table:has(.action-container) table {
    /* margin-top: 55px; */
}

.max-hieght-table table tbody tr:last-child td {
    border: solid 2px #a2b0c3 !important;
}

.company-right-side ul li a .nav-icon {
    display: none;
}

.company-dash .content-detail {
    overflow: hidden !important;
}

.company-right-side,
.company-right-side .logout-btn {
    background-color: #0e0e52 !important;
    border-radius: 6px;
    color: #fff;
}

.company-right-side .logout-btn img {
    display: none;
}

.company-right-side ul li a {
    color: #fff;
    justify-content: space-between;
}

.company-right-side ul li a:hover,
.company-right-side ul li a.active {
    color: #fff;
    background-color: #150578;
    border-radius: 8px;
}

.company-dash .filter-container-v2 {
    background-color: #0e0e52 !important;
    border-radius: 8px;
}

.company-dash .job-button-submit {
    padding: 8px 25px !important;
}

.company-dash .job-button-submit input {
    background-color: #fff;
    color: #0e0e52;
    transition: ease-in-out 0.3s;
    padding: 8px 16px !important;
}

.company-dash .job-button-submit input:hover {
    color: #fff;
    background-color: #150578;
}

.company-dash table tr td,
.company-dash table tr td a,
.company-dash table tr td span,
.company-dash .table-block table thead tr th {
    color: #000 !important;
    font-weight: 600 !important;
    font-family: "jannat" !important;
    font-size: 16px;
}

.company-dash table thead tr th {
    padding: 7px 10px;
}

.company-dash .accept_date {
    min-width: 100px;
}

.company-dash .note-edit-container {
    min-width: 120px;
    justify-content: space-between;
    align-items: center;
}

.company-dash .note-edit-container .add-circular {
    margin: 0;
}

.company-dash .note-edit-container .note {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-dash table {
    overflow: hidden;
}

.company-dash table thead {
    display: flex;
}

.company-dash table tr {
    width: 100%;
}

.company-dash table {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    height: 554px;
    margin-bottom: 0;
}

.company-dash table tbody {
    width: max-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

.company-dash table tbody tr:first-of-type td {
    border-top: none !important;
}

.company-dash .content-detail {
    overflow-x: hidden;
}

.company-dash .content-detail .pagination-container .pagination {
    flex-wrap: wrap;
    direction: ltr !important;
}

.table-icon {
    margin: auto;
    display: block;
    text-align: center;
    width: max-content;
}

.table-icon i {
    font-size: 24px;
    color: #0e0e52;
}

.company-dash .co-action-button {
    padding: 0 !important;
    margin: 10px;
}

.company-dash .pagination-container {
    margin-top: 0 !important;
}

.company-dash table thead th.text-center,
.company-dash table tbody td.text-center  {
    text-align: center !important;
}

.company-right-side ul li a .badge {
    background-color: #0097b2;
    color: #fff;
}

.company-right-side ul li a i {
    color: #b0ad9f;
}

.company-dash .add-circular {
    background-color: #0097b2;
}

.table-icon i {
    color: #0097b2;
}

.uploadbox-mo .upload-imgbx {
    width: 100%;
    margin-bottom: 10px;
}

.uploadbox-mo .upload-imgbx:hover .delUserImage {
    display: flex !important;
}

.uploadbox-mo .delUserImage {
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    background: red;
    color: #fff;
    border-radius: 5px;
    display: none;
    z-index: 10;
}

.max-hieght-table {
    max-height: 625px !important;
}

.company-dash table {
    height: 553px;
}