{% extends 'new_design/base.html' %}
{% block title %}Login / Sign Up Form{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="stylesheet" href="/static/assets3/css/login.css">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/assets3/css/style.css">

    <link rel="preload" as="image" href="/static/assets3/images/Untitled_logo_2_free-file.jpg">
</head>

<body class="body3">
    <div dir="ltr">
        {% include "main_navbar.html" %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="container3">
        <form class="form" id="login" action="/reset_password?token={{ token }}" method="POST">
            <h1 class="form__title">العثور على حسابك</h1>
            {% if error %}
                {{ error }}
            {% endif %}
            <h3>يرجى ادخال كلمة مرور جديدة</h3>
            <div class="form__input-group">
                <input type="password" class="form__input" name="password" autofocus placeholder="كلمة المرور الجديدة ">
                <br>

                <div class="form__input-error-message"></div>

            </div>
            <button class="form__button" type="submit">
                تأكيد
            </button>
        </form>

    </div>
{% endblock %}
