{% extends 'new_design/base.html' %}
{% block title %}منصة فائدة{% endblock %}

{% block extra_css %}
<style>
    *{
      margin: 0;
      padding: 0;
      }


    .background-1 {
      position: fixed;
      width: 40%;
      height: 100%;
      background-image: url("{{ url_for('static', filename='images/register.png') }}");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .input-style {
      border-radius: 6px;
      padding: 5px;
    }

    .almarai-light {
      font-family: "Almarai", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .almarai-regular {
      font-family: "Almarai", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .almarai-bold {
      font-family: "Almarai", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .almarai-extrabold {
      font-family: "Almarai", sans-serif;
      font-weight: 800;
      font-style: normal;
    }

    .hover-effect a {
      text-decoration: none;
      color: inherit;
      text-align: center;
    }

    .hover-effect a img {
      display: block;
      margin: 0 auto;
      padding: 5px;
      background-color: #F8C44F;
      transition: background-color 0.3s ease, transform 0.3s ease;
      border-radius: 20%;
    }

    .hover-effect a:hover img {
      transform: scale(1.1);
    }
    .btn-hover {
            background-color: #4680EE;
            transition: transform 0.3s, background-color 0.3s;
        }
        .btn-hover:hover {
            background-color: #3570D9; 
            transform: scale(1.1);
        }

    @media (max-width: 992px) {
      .background-1 {
        display: none;
      }
      .container{
        margin-top: 5px;
      }
      .input-style {
        font-size: 14px;
      }
      .btn {
        font-size: 16px;
        margin-right: 12px;
      }
      .on_mobile{
        margin-left: 50px;
      }
      
      .hover-effect a {
        margin-bottom: 10px;
      }

      .hover-effect h5 {
        font-size: 14px;
      }

      .col-order-md-1 {
        order: 1;
      }

      .col-order-md-2 {
        order: 2;
      }
      .btn-hover {
            background-color: #4680EE;
            transition: transform 0.3s, background-color 0.3s;
        }
        .btn-hover:hover {
            background-color: #3570D9; 
            transform: scale(1.1);
        }
   
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
      .background-1 {
        display: none;
      }
      .container {
        margin-top: 30px;
      }
      .l{
        font-size: 20px;
      }
      .btn-hover {
            background-color: #4680EE;
            transition: transform 0.3s, background-color 0.3s;
        }
        .btn-hover:hover {
            background-color: #3570D9; 
            transform: scale(1.1);
        }
    }
    @media (min-width: 1200.00px) and (max-width: 1399.98px) {
      .background-1 {
        display: none;
      }
      .l{
        font-size: 20px;
      }
      .btn-hover {
            background-color: #4680EE;
            transition: transform 0.3s, background-color 0.3s;
        }
        .btn-hover:hover {
            background-color: #3570D9; 
            transform: scale(1.1);
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="background-1"></div>
  <div class="container-fluid almarai-regular p-2" style="background-color: #253048;">
    <h1 class="text-right text-light almarai-regular p-3" style="font-size: 40px;">انشاء حساب</h1>
  </div>

  <div class="container almarai-extrabold p-3 mr-2" style="text-align: right; font-size: 15px;">
    {% if msg != None %}
    <h1 style="color: red;">{{msg}}</h1>
    {% endif %}

  <div class="container almarai-extrabold d-block justify-content-end p-1" style="text-align: right; font-size: 15px;">
    <form class="login-form" action="/submit2" method="post"> 
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 col-order-md-2">
          <label class="l" for="lastName">عنوان المنشأة</label>
          <input type="text" class="form-control input-style" style="text-align: right;"  name="type" required>
        </div>
        <div class="col-md-6 col-lg-4 col-order-md-1">
          <label class="l" for="firstName">اسم المنشأة</label>
          <input type="text" class="form-control input-style" style="text-align: right;"  name="name" required>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-lg-4">
          <label class="l" for="phone">رقم صاحب المنشأة</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light">+966</span>
            </div>
            <input type="text" class="form-control input-style" style="text-align: right;" name="phoneNumber" required>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <label class="l" for="email"> البريد الإلكتروني</label>
          <input type="text" class="form-control input-style" style="text-align: right;" name="email" required>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-lg-4 col-order-md-2">
          <label class="l" for="confirmPassword">تأكيد كلمة المرور</label>
          <input type="password" class="form-control input-style" style="text-align: right;" name="passwordProve" required>
        </div>
        <div class="col-md-6 col-lg-4 col-order-md-1">
          <label class="l" for="password">كلمة المرور</label>
          <input type="password" class="form-control input-style" style="text-align: right;" name="password" required>
        </div>
      </div>
      <div class="on_mobile row d-flex justify-content-center mt-5 hover-effect">
        <a href="#" class="m-3">
          <img src="{{ url_for('static', filename='images/enterprise.png') }}" height="45" alt="">
          <h5 class="p-1 m-1">منشآت</h5>
        </a>
        <a href="/register" class="m-3">
          <img src="{{ url_for('static', filename='images/people.png') }}" height="45" alt="">
          <h5 class="p-1 m-1">أفراد</h5>
        </a>
        <h5 class="m-4">تسجيل كـ</h5>


      </div>
      <div class=" d-flex justify-content-center mt-2" style="margin-right: 10%;">
        <button type="submit" class="btn btn-lg text-light btn-hover" style="font-size: 20px; background-color: #4680EE; padding-left: 60px; padding-right: 60px;">تسجيل</button>
      </div>
    </form>
    <div class=" d-flex justify-content-center mt-3" style="margin-right: 9%;">
      <a href="{{ url_for('customer.login') }}" class="text-danger almarai-bold pr-2" style="color: #BF2A4A;">تسجيل دخول</a>
      <p class=" mb-0 mr-2 almarai-regular">لديك حساب؟</p>
    </div>
  </div>
</div>

  {% if submited %}
  {% include 'welcomeMess.html' %}
  {% endif %}
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
