<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/apply_bafore.css">
    <title>FAEDA</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="img">
                <img src="/static/assets/images/yes.png" alt="">
            </div>
            <div class="shadow">
            </div>
            <div class="message">
                <h1>
                    ! تم التقديم من قبل..
                </h1>
                <p>انتظر حتي يتم تاكيد طلب قبولك من قبل الشركه </p>
            </div>
            <button class="button-33" onclick="location.href='/my-jobapplications'">
                <h1 class="green">استمر</h1>
            </button>


        </div>
    </div>

</body>

</html>