.u-section-1 {
  background-image: url("/static/landing/images/WhatsAppImage2024-05-19at15.21.15_f3ed8b04.jpg");
  min-height: 440px;
}

.u-section-1 .u-image-1 {
  object-position: 40% 22.98%;
  width: 375px;
  height: 375px;
  margin: 0px 10% 0 calc(100% - 375px);
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 468px);
  min-height: 400px;
  margin: -320px auto 0 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0px 0 0 -1%;
  padding: 5px;

}




.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 20px 0 0 -10%;
  width: 70%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 2px;
  height: 50px;
  font-weight: 700;
  margin: 40px 0px 0px -20%;
  padding: 11px 24px 11px 23px;
}

.u-section-1 .u-image-2 {
  width: 321px;
  height: 91px;
  margin: -100px auto 0 calc(((100% - 1540px) / 2));
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 653px;
    height: 645px;
   
    margin: 0px 10% 0 40%;
    margin-right: calc(((100% - 940px) / 2));
  }
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 5rem;
    margin: 20px 0 0 25%;
    padding: 5px;

  }

  .u-section-1 .u-btn-1 {
    margin: 80px 8px -50px 85%;
    padding: 11px 24px 11px 23px;
  }
  
.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 900;
  margin: -100px 50px 0 100%;
  width: 100%;
}
  .u-section-1 .u-group-1 {
    width: 466px;
    min-height: 360px;
    margin-top: -485px;
    margin-left: calc(((100% - 940px) / 2)  + -90px);
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 190px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 561px;
    margin-top: 82px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 69px);
  }

  .u-section-1 .u-group-1 {
    width: 623px;
    min-height: 251px;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2)  + 14px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -81px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 548px;
    margin-right: calc(((100% - 540px) / 2)  + -300px);
    margin-left: calc(((100% - 540px) / 2));
  }
  .u-section-1 .u-btn-1{
    margin-left: 15%;
  }
  .u-section-1 .u-group-1 {
    width: 518px;
    margin-top: -7px;
    margin-bottom: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right:80%;
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 17px;
  }

  .u-section-1 .u-image-2 {
    height: 206px;
    margin-top: -266px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 871px;
  }

  .u-section-1 .u-image-1 {
    width: 400px;
    height: 405px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-right: calc(((100% - 340px) / 2)  + -400px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -50px;
    margin-right: 0;
    margin-left: 25%;
    margin-bottom: 10%;

  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 11px;
    padding-right: 6px;
    padding-left: 4px;
  }
}